<br><br><br>
<link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Inknut+Antiqua|Lora|Ravi+Prakash" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  />

<div class="container1">
<div class="container"  style="background-color: black;">
  <h1 class="upcomming" style="color:white">upcomming events</h1>

<div *ngFor='let event of events'>
  <div class="item" style="background-image: url(http://localhost:8080/RESTAPI/images/{{event.poster}});">
    <div class="item-right">
      <h3>{{event.eventDate | date}}</h3>
      <span class="up-border"></span>
      <span class="down-border"></span>
    </div>
    <div class="item-left">
      <p class="event">{{event.category}}</p>
      <h2>{{event.eventName}}</h2>
      
      <div class="sce">
        <div class="icon">
          <i class="fa fa-table" style="width: 30px; height: 30px;"></i>
        </div>
        
        <p>{{event.eventDate | date : 'mediumTime'}} </p>
      </div>
      <div class="fix"></div>
      <div class="loc">
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <p>{{event.venue}}</p>
      </div>
      <div class="fix"></div>
      <button class="cancel" (click)="goToEvent(event)">Book now</button>
    </div> 
  </div> 
  </div>
</div>
</div>
<!--
<table class="table table-bordered table-sm text-center" style="background-color: white;">
    <thead>
        <tr class="bg-info text-white">
            <th>NAME</th>
            <th>EVENT DATE</th>
            <th>CATEGORY</th>
            <th>MOBILE-NO.</th>
            <th>TICKET PRICE</th>
            <th>VENUE</th>
            <th>GO TO EVENT</th>
        </tr>
    </thead>
    <tbody>
<tr *ngFor='let event of events'>
    <td>{{event.eventName}}</td>
    <td>{{event.eventDate}}</td>
    <td>{{event.category}}</td>
    <td>{{event.organiserName}}</td>
    <td>{{event.ticketPrice}}</td>
    <td>{{event.venue}}</td>
    <button (click)="goToEvent(event)">Go To Event</button>
</tr>
</tbody>
</table>
-->