<div class="hero-image99" style="background-color: black;"></div>
<main>
    <!-- ======================== -->
    <!-- Just Copy The Code Below -->
    <section class="card-container">
        <div class="card" style="background-image: url(https://images.unsplash.com/photo-1595495745640-534ca1c3297c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1922&q=80)">
           <div class="author-section">
                <!--<a href="#" class="author-avator-link"><img class="author-avator" src="https://static01.nyt.com/vi-assets/images/share/1200x1200_t.png" alt="The New York Times Logo" ></a>-->
                <h1 class="author-name" style="margin-left: 100px; margin-top: 60px; color: white;"><b>THE NEW YORK TIMES</b></h1>
            </div>
            <p style="margin-left: 10px; text-align: center; margin-top: 10px; font-size: 30px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Aliquam aliquam diam sit amet elit hendrerit rutrum. 
                Nam egestas laoreet ligula, ac elementum risus. 
                Aliquam volutpat ex eget elit venenatis, vel luctus arcu pulvinar. 
            </p>
            <button style="margin-left: 170px;">READ MORE</button>
        </div>

        <div class="card" style="background-image: url(https://images.unsplash.com/photo-1595495745640-534ca1c3297c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1922&q=80)">
            <div class="author-section">
                 <!--<a href="#" class="author-avator-link"><img class="author-avator" src="https://static01.nyt.com/vi-assets/images/share/1200x1200_t.png" alt="The New York Times Logo" ></a>-->
                 <h1 class="author-name" style="margin-left: 100px; margin-top: 60px; color: white;"><b>THE NEW YORK TIMES</b></h1>
             </div>
             <p style="margin-left: 10px; text-align: center; margin-top: 10px; font-size: 30px;">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                 Aliquam aliquam diam sit amet elit hendrerit rutrum. 
                 Nam egestas laoreet ligula, ac elementum risus. 
                 Aliquam volutpat ex eget elit venenatis, vel luctus arcu pulvinar. 
             </p>
             <button style="margin-left: 170px;">READ MORE</button>
         </div>

         <div class="card" style="background-image: url(https://images.unsplash.com/photo-1595495745640-534ca1c3297c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1922&q=80)">
            <div class="author-section">
                 <!--<a href="#" class="author-avator-link"><img class="author-avator" src="https://static01.nyt.com/vi-assets/images/share/1200x1200_t.png" alt="The New York Times Logo" ></a>-->
                 <h1 class="author-name" style="margin-left: 100px; margin-top: 60px; color: white;"><b>THE NEW YORK TIMES</b></h1>
             </div>
             <p style="margin-left: 10px; text-align: center; margin-top: 10px; font-size: 30px;">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                 Aliquam aliquam diam sit amet elit hendrerit rutrum. 
                 Nam egestas laoreet ligula, ac elementum risus. 
                 Aliquam volutpat ex eget elit venenatis, vel luctus arcu pulvinar. 
             </p>
             <button style="margin-left: 170px;">READ MORE</button>
         </div>
 
    </section>

    
    <!-- Just Copy The Code Above -->
    <!-- ======================== -->
</main>


<!-- UI Designer -->
<h6 class="designer">This UI Kit is Designed by <a href="https://www.behance.net/jhanemilan" target="_blank">Hannah Milan</a></h6>