<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<nav class="navbar-fixed-top navbar navbar-expand-lg " style="background-color:black">
  <div class="container">

      
    <img src="/assets/img/Relevent.png" style="height: 70px; width: 300px; margin-left: -350px;">

        <a routerLink="" style="color:rgb(255, 255, 255);font-size: 5mm;">Home<span
              class="sr-only">(current)</span></a>
              &nbsp;&nbsp; &nbsp;&nbsp;
        <a routerLink="blog" style="color:rgb(255, 255, 255);font-size: 5mm;">Blog</a>
        &nbsp;&nbsp; &nbsp;&nbsp;
        <a routerLink="expandService" style="color:rgb(255, 255, 255);font-size: 5mm;">Expand your service</a>
        &nbsp;&nbsp; &nbsp;&nbsp;

      
     

        <a routerLink="login" *ngIf="!user && !status()" style="color:rgb(255, 255, 255);font-size: 5mm;"><span
              class="glyphicon glyphicon-user"></span> Login</a>
          &nbsp;&nbsp; &nbsp;&nbsp;
      
          <div *ngIf="!user && !status()"><button class="btn" style="color: aliceblue;" (click)="signInWithGoogle()">SignInWithGoogle<span
            class="fa fa-google"></span></button></div>
            &nbsp;&nbsp;
        <div *ngIf="!user && !status()">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1"
          data-toggle="dropdown">Signup</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left:950px;">
          <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="usersignup">User</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="profsignup">Professional</a></li>
        </ul>
      </div>
        &nbsp;&nbsp; &nbsp;&nbsp;

       

        <div *ngIf="user" class="dropdown">
          <a routerLink="event" style="color:rgb(255, 255, 255);font-size: 5mm;">Launch Your Event</a>
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1"
            data-toggle="dropdown">{{ user.name }}
            <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left:250px;">
            <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="myEvents">myEvents</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="myBlogs">myBlogs</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="bookedEvents">bookedEvents</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" (click)="signOut()" tabindex="-1" href="#">Sign out</a></li>
          </ul>
        </div>



        <div *ngIf="status() && !db1" class="dropdown">
          <a routerLink="event" style="color:rgb(255, 255, 255);font-size: 5mm;">Launch Your Event</a> 
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1"
              data-toggle="dropdown">{{db.userName}}
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left:250px;">
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="userprofile"> Edit Profile</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="myEvents">myEvents</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="myBlogs">myBlogs</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="bookedEvents">bookedEvents</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" (click)="signOut()" tabindex="-1" href="#">Sign out</a></li>
            </ul>
         
        </div>


        <div *ngIf="status() && !db" class="dropdown">
          <a routerLink="event" style="color:rgb(255, 255, 255);font-size: 5mm;">Launch Your Event</a> 
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1"
              data-toggle="dropdown">{{db1.professionalName}}
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="margin-left:250px;">
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="profEvents">myEvents</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="profBlogs">myBlogs</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="profExps">my Experiences</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" (click)="signOut()" tabindex="-1" href="#">Sign out</a></li>
            </ul>
         

         

        </div>

   
    
  </div>
</nav>