<head>
    <title>Business Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 </head>
 
 <div class="modal fade" id="timeline">
    <div class="modal-dialog modal-lg">
       <div class="modal-content" style="background-color: #fff1e6;">
 
          <!-- Modal Header -->
          <div class="modal-header">
             <h1 class="modal-title"><b>Agenda</b></h1>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
 
          <!-- Modal body -->
          <div class="modal-body">
             <div class="timeline" style="margin-left: 35px;">
                <ul>
 
                     
                   <li>
                      <span></span>
                      <div class="content">
                         <div style="margin-left: 100px;">
                            <div class="form-group">
 
                               <input class="form-control" id="focusedInput" type="text" style="width:240px;"
                                  autofocus="true" name="time1" [(ngModel)]='eventDetails.time1' placeholder="Check Point 1">
                               <br>
                               <div class="form-group" class="adjust">
                                  <textarea type="text" class="form-control" name="Overview1"
                                  [(ngModel)]='eventDetails.overview1'
                                     aria-describedby="emailHelp" placeholder="Where is the Event ?" rows=4></textarea>
                               </div>
                            </div>
                         </div>
 
                      </div>
                   </li>
                 
                   
                   <li>
                      <span></span>
                      <div class="content">
                         <div style="margin-left: 100px;">
                            <div class="form-group">
 
                               <input class="form-control" id="focusedInput" type="text" style="width:240px;"
                                  autofocus="true" name="time2" [(ngModel)]='eventDetails.time2' placeholder="check Point 2">
                               <br>
                               <div class="form-group" class="adjust">
                                  <textarea type="text" class="form-control" name="Overview2"
                                  [(ngModel)]='eventDetails.overview2'
                                     aria-describedby="emailHelp" placeholder="Where is the Event ?" rows=4></textarea>
                               </div>
                            </div>
                         </div>
 
                      </div>
                   </li>
                 
 
                </ul>
             </div>
          </div>
 
          <!-- Modal footer -->
          <div class="modal-footer">
             <button type="button" class="btn btn-dark" data-dismiss="modal">Submit</button>
          </div>
       </div>
    </div>
 </div>
 
 
 
 <div class="modal fade" id="professionals" >
    <div class="modal-dialog modal-lg" >
       <div class="modal-content" style="width: 1000px; margin-left: -100px; background-color: #fff1e6;">
          <!-- Modal Header -->
          <div class="modal-header">
             <h1 class="modal-title"><b>Choose Professionals</b></h1>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
 
          <!-- Modal body -->
          <div class="modal-body">
             
              
                <div class="row" > 
                  
                <div class="col-sm-4" style="background-color:#fff1e6;">
                <h2>Choose Category</h2>
            
              <ul class="game-list">
                <li *ngFor="let g of games | filter : searchText" class="game-item"> 
                  <input (change)="getSelected()" type="checkbox"
                           name="games"
                           value="{{g.id}}"
                           [(ngModel)]="g.selected"/> 
                  <span class="game-text">{{g.name}}</span>
                </li>
              </ul>
              
              
              <div class="selected-games-wrap">
                  <div class="selected-game" *ngFor="let s of selected_games" >
                    <span>{{s.name}} <span class="delete-game" (click)="deleteGame(s.id)" title="Click to delete">X</span></span>
                  </div>
              </div>
            </div>
            
            
            
            
            <div class="col-sm-8" style="background-color: fff1e6">
            
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search " [(ngModel)]="term">
            </div>
            
          
            
            <div class="container" style="background-color: white; width:400px;">
               <h1>Chosen Professionals</h1>
               <ul class="custom-counter" *ngFor="let x of chosenProfessional">
                  <li>Professional Name: {{x.professionalName}}<br> Service Type: {{x.serviceType}}<br> Service Name: {{x.serviceName}}<br> Address: {{x.address}} <br>  <button type="button" class=" btn btn-dark" style="width: 100px;" (click)="removeProfessional(x)">Remove</button>
                    <br>                      
                  </li>
                </ul>
             </div>
           
           
           <div *ngFor="let prof of professionals | filter:term">
             
             <ng-container *ngIf = "!status()">
                  
             <section class="text-card">
                <div class="content"><br>
                    <div class="author-section">
                       <img class="author-avator" src="http://localhost:8080/RESTAPI/images/{{prof.serviceImage}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       <h6 class="author-name">Name  <br>{{prof.professionalName}}</h6><br>
                       <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profession <br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceType}} &nbsp;&nbsp;&nbsp;&nbsp;</h6><br>
                       <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shop name <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceName}}</h6><br>
                    </div>
                    <br><br>
                    <button type="button" class=" btn btn-dark" style="width: 100px;" (click)="addProfessional(prof)">Add </button>
                    
           
                </div>
              </section>
             </ng-container>
           
             <ng-container *ngIf = "status()">
               <ng-container *ngFor = 'let s of selected_games'>
                 <ng-container *ngIf = "prof.serviceType === s.name">
               
                   <section class="text-card">
                     <div class="content"><br>
                         <div class="author-section">
                            <img class="author-avator" src="http://localhost:8080/RESTAPI/images/{{prof.serviceImage}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <h6 class="author-name">Name  <br>{{prof.professionalName}}</h6><br>
                            <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profession <br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceType}} &nbsp;&nbsp;&nbsp;&nbsp;</h6><br>
                            <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shop name <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceName}}</h6><br>
                         </div>
                         <br><br>
                         <button type="button" class=" btn btn-dark" style="width: 100px;" (click)="addProfessional(prof)">Add </button>
                         
                
                     </div>
                   </section>
             </ng-container>
           </ng-container>
           </ng-container>
           
            
              </div>
            
          
            
            </div>
                </div>
            
          </div>
 
          <!-- Modal footer -->
          <div class="modal-footer">
             <button type="button" class="btn btn-primary" (click)="done()" data-dismiss="modal">Submit</button>
          </div>
       </div>
    </div>
 </div>
 
 <form #registerForm="ngForm" (ngSubmit)="eventSubmit(registerForm.value)">
 
    <div class = "hero-image" >
       <mat-horizontal-stepper [linear]="" #stepper style="margin-left:200px; margin-top: 100px; background-color: transparent; ">
 
          <mat-step>
 
             <div class="row" style="margin-left:50px;">
 
                <div class="col-sm-4">
                   <div class="form-group" class="adjust">
                      <input type="text" class="form-control border border-primary" name="eventName" [(ngModel)]='eventDetails.eventName' required="true" aria-describedby="emailHelp"
                         placeholder="Enter Event Name"><br>
                      <input type="text" class="form-control border border-dark" name="organiserName" [(ngModel)]='eventDetails.organiserName' aria-describedby="emailHelp"
                         placeholder="Enter Organiser Name">
                   </div>
                </div>
 
                <div class="col-sm-4">
                   <div class="form-group" class="adjust">
                      <select class="form-control" name="eventType" id="category" [(ngModel)]='eventDetails.eventType'>
                         <option hidden value="" disabled selected>Choose Event Type</option>
                         <option *ngFor="let type of Types">{{type}}</option>
                      </select><br>
                      <select class="form-control" name="category" id="category" [(ngModel)]='eventDetails.category'>
                         <option hidden value="" disabled selected>Choose Event Category</option>
                         <option *ngFor="let category of Category">{{category}}</option>
                      </select>
                   </div>
                </div>
 
             </div>
             <br><br>
             <button mat-button matStepperNext class="btn btn-dark">Next</button>
          </mat-step>
 
          <mat-step>
 
             <div class="row" style="margin-left:50px;">
 
                <div class="col-sm-3" >
                   <mat-form-field class="example-full-width" appearance="fill" style="width:200px;background-color:white;">
                      <mat-label>Choose start date</mat-label>
                      <input matInput [matDatepickerFilter]="myFilter1" [matDatepicker]="picker" style="color:black"
                         name="eventdate" [(ngModel)]='eventdate'>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                   </mat-form-field>
                </div>
 


                <div class="col-sm-4">
                  <div class="form-group" class="adjust" >
                     <select class="form-control" name="howManyDays" id="category" [(ngModel)]='howManyDays' >
                        <option hidden value="" disabled selected>No. of Days</option>
                        <option *ngFor="let day of days">{{day}}</option>
                     </select><br>
                  </div>
               </div>

                
             </div><br>
 
             <div class="row" style="margin-left:50px;">
 
                <div class="col-sm-3">
                   <label>
                      <input placeholder="Start Time" name="startTime"
                      [(ngModel)]='eventDetails.startTime' [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                      <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                  </label>
                </div>
 
                <div class="col-sm-3">
                   <label>
                      <input placeholder="End Time" name="endTime" [(ngModel)]='eventDetails.endTime' [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
                      <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
                  </label>
                </div>
 
             </div>
             <button mat-button matStepperNext class="btn btn-dark">Next</button>
 
          </mat-step>
 
          <mat-step>
             <div class="row" style="margin-left:50px;">
 
                <div class="col-sm-4">
                   <div class="form-group" class="adjust">
                      <textarea type="text" class="form-control" name="about" [(ngModel)]='eventDetails.about' aria-describedby="emailHelp"
                         placeholder="What is the Event ?" rows=5></textarea>
                   </div>
                </div>
 
                <div class="col-sm-4">
                   <div class="form-group" class="adjust">
                      <textarea type="text" class="form-control" name="venue" [(ngModel)]='eventDetails.venue' required="true" aria-describedby="emailHelp"
                         placeholder="Where is the Event ?" rows=5></textarea>
                   </div>
                </div>
 
             </div>
             <br><br>
             <button type="button" mat-button matStepperNext class="btn btn-dark">Next</button>
 
          </mat-step>
 
          <mat-step>
            
            
             <div class="form-group" class="adjust">
                <input type="number" style ="width:500px;" class="form-control" name="ticketPrice" [(ngModel)]='eventDetails.ticketPrice' aria-describedby="emailHelp"
                   placeholder="Enter Ticket Price"><br>
             
             </div>
 
             <div class="form-group" class="adjust">
                <input type="number" style ="width:500px;" class="form-control" name="attendeesCount" [(ngModel)]='eventDetails.attendeesCount' aria-describedby="emailHelp"
                   placeholder="Enter Attendees Count"><br>
             
             </div>
             <div class="form-group" class="adjust">
             <select class="form-control" style ="width:500px;" name="sponsor" id="category" [(ngModel)]='eventDetails.sponsor'>
                <option hidden value="" disabled selected>Allow sponsors?</option>
                <option *ngFor="let sponsor of Sponsor">{{sponsor}}</option>
             </select>
          </div>
             <br>

             <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#timeline"
             style="width: 200px;">
             Add Your Checkpoints
          </button>

         
             <button mat-button matStepperNext class="btn btn-dark">Next</button>
 
          </mat-step>
          
          <mat-step>
             <div class="form-group" class="adjust">
                <input type="text" class="form-control" style ="width:500px;" name="guest1" [(ngModel)]='eventDetails.guest1' aria-describedby="emailHelp"
                   placeholder="Special Guest"><br>
             </div>
    
             <div class="form-group" class="adjust">
                <input type="text" class="form-control" style ="width:500px;" name="guest2" [(ngModel)]='eventDetails.guest2' aria-describedby="emailHelp"
                   placeholder="Special Guest"><br>
             </div>
    
             <div class="form-group" class="adjust">
                <input type="text" class="form-control" style ="width:500px;" name="guest3" [(ngModel)]='eventDetails.guest3' aria-describedby="emailHelp"
                   placeholder="Special Guest"><br>
             </div>
             <br>
             <button mat-button matStepperNext class="btn btn-dark">Next</button>
 
          </mat-step>
 
          <mat-step>
             
             <div class="custom-file" style="width: 300px;">
                <input type="file" name="poster" accept="image/*" [(ngModel)]='eventDetails.poster'
                (change)="handleFileInput($event.target.files)"
                class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div><br>
              <button mat-button matStepperNext class="btn btn-dark">Next</button>
              <img [src]="imageUrl" style="height: 200px; width: 200px;margin-left: 200px;">
             
              
              
              
 
               
 
          </mat-step>            
          
          <mat-step>
 
             <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#professionals"
             style="width: 150px;">
             Add Professionals
          </button>
          
 
 
          </mat-step>
 
        
 
       </mat-horizontal-stepper>
 
       <br><br>
       <button type="button" style="margin-left: 750px; width: 200px; height :50px; font-size: 20px;" class="btn btn-dark" >Add Event</button>
 
    </div>
 </form>
 
 