<div *ngFor='let exp of myExps'>
    <div class="container" style="margin-right: 10px;">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card" style="height:250px; width:500px;">

                    <div class="card-body">
                        <p class="card-text">
                            {{exp.experience}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
