<head>
  <title>Business Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<br><br><br><br>
<div class="hero-image3">
<br>
<br><br><br>
    
    <h1 style="font-size: 65px;text-align:center;color: black;
    text-shadow: 2px 2px 4px #ffffff;margin-top: 10px;"><b>Start writing your Blog</b></h1>
<br><br>
    <br><br>
    <div class="card-form">
      <form class="signup" #blogForm="ngForm" (ngSubmit)="addblog(blogForm.value)" novalidate>
     <br><br>
        <div class="form-body">
          <div class="row">
            <input type="text" placeholder="Title of Blog" [(ngModel)]='blogDetails.title'>
            <br>
            <select name="category" id="category" [(ngModel)]='blogDetails.category'>
              <option hidden value="" disabled selected>Related to...</option>
              <option *ngFor="let category of Category">{{category}}</option>
            </select>
          </div>
          <div class="row">
            <textarea placeholder="Write your blog, content with more than 250 words is preferred" rows="8" name="content"
              id="comment_text" cols="40" class="ui-autocomplete-input" autocomplete="off"
              [(ngModel)]='blogDetails.content'></textarea>
          </div>

        </div>
        <div class="rule"></div>
        <div class="form-footer">
          <div class="row">
            <img [src]="imageUrl" style="width:120px;height:120px;">
            <div style="margin-left: 50px;">
              <input style type="file" name="blogImage" accept="image/*" [(ngModel)]='blogDetails.blogImage'
                (change)="handleFileInput($event.target.files)">
              <small>Upload Blog Image</small>
              <br>
            </div>
            <button style="margin-left:170px; margin-top:-30px; color:white;">Publish My Blog<span
                class="fa fa-thumbs-o-up"></span></button>
          </div>
        </div>
      </form>
    </div>
    <br><br>
  </div>