<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Example of Auto Loading Bootstrap Modal on Page Load</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script>

  </script>
</head>

<body>
  <div class="hero-image1">
    <div class="container">
      <br>
      <h1 style="font-size:20px;color:white"><b>Login To Continue</b></h1>
      <div class="login-form">
        <div class="sign-in-htm">
          <form #loginForm="ngForm" class="form-group" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
            <div class="group" style="margin-top: 30px;">
              <h1 for="user" class="label" style="  font-size:20px;color:white;">
                <b>Username</b></h1>
              <input type="text" class="input" name="name" [(ngModel)]='name' placeholder="userName"
                style="width: 300px; color: black;">
            </div>
            <div class="group" style=" margin-top: 30px;">
              <h1 for="pass" class="label" style="font-size:20px;color: white;">
                <b>Password</b></h1>
              <input type="password" class="input" data-type="password" name="password" [(ngModel)]='password'
                placeholder="password" style="width: 300px; color: black;">
            </div>
            <div class="group" style="color:black;">
              <button class="button" class="btn btn-warning" style="width: 150px;"><b>Login</b> </button>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
</body>

