<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <br><br><br><br><br><br><br><br>


  <div>
    <div class="main">
      <p class="sign" style="text-align: center;">Sign in</p>
        <input class="un " type="text" name="name" [(ngModel)]='name' style="text-align: center;"
          placeholder="Username">
        <input class="pass" type="password" name="password" [(ngModel)]='password' style="text-align: center;"
          placeholder="Password">
        <button  class="submit"  class="button" (click)="fp1()">Forgot Password ?</button>
        <button class="button" [disabled]="isLoading" class="submit" (click)="loginSubmit()" style="text-align: center;">
          Sign in
        </button>
    </div>

  </div>
</body>

</html>