<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<br>
<div style="background-color: black;">
  <div class="hero-image1">
  </div>
</div>
<br><br>
<div style="background-image:url('/assets/img/blue.jpg');">
  <br> <br> <br> <br> <br> <br>
  <div class="hero-image2">
    <div class="timeline" style="margin-left: 750px;">
      <div class="timelinecontainer timelineleft">
        <div class="timelinecontent">
          <h2> <u>STEP 1</u> </h2>
          <p>Register as a professional at Rel-event!</p>
        </div>
      </div>
      <div class="timelinecontainer timelineright">
        <div class="timelinecontent">
          <h2> <u>STEP 2</u> </h2>
          <p>Get contacted from events!</p>
        </div>
      </div>
      <div class="timelinecontainer timelineleft">
        <div class="timelinecontent">
          <h2> <u>STEP 3</u> </h2>
          <p>Finish events succesfully, get good ratings</p>
        </div>
      </div>
      <div class="timelinecontainer timelineright">
        <div class="timelinecontent">
          <h2> <u>STEP 4</u> </h2>
          <p>Get more oppurtunities and expand your service</p>
        </div>
      </div>

    </div>
  </div>
</div>
<br><br>
<button  style="margin-left: 820px;" class="btn btn-primary" (click)="shareExperience()" >Share my experience</button>
<br><br>
<div class="hero-image4">
  <br><br><br><br>
  <h1 style="color:white;font-size:80px;margin-left:620px"><b>EXPERIENCES</b></h1>
  <br><br>
  <div *ngFor='let exp of exps'>
    <!-- The App Section -->
    <div class="ncontainer">
      <div class="row">
        <div class="column-66">
          <h1 class="xlarge-font"><b>{{exp.professional.professionalName}}</b></h1>
          <br>
          <h3 class="large-font" style="color:white">#{{exp.professional.serviceType}}</h3>
          <br>
          <h1><span style="font-size:780px" style="color: black;"><b>{{exp.experience}}</b></span></h1>
        </div>
        <div class="column-33">
            <img src="http://localhost:8080/RESTAPI/images/{{exp.professional.serviceImage}}" width="335" height="471">
        </div>
      </div>
      
    </div>
    <div>
      <br><br><br>
   
  <br><br>
  </div>

</div>
