<div class="hero-image99" style="background-color: black;"></div>
<div class="ff">
<div class="container"  >

  <div *ngFor='let event of myEvents'>
  
  <div class="card-media" style="margin-top: 100px;">
    <!-- media container -->
    <div class="card-media-object-container">
      <div class="card-media-object" style="background-image: url(http://localhost:8080/RESTAPI/images/{{event.poster}});"></div>
      <span class="card-media-object-tag subtle">{{event.eventName}}</span>
    </div>
    <!-- body container -->

    <div class="card-media-body">
      <div class="card-media-body-top">
        <span class="subtle">{{event.eventStartDate | date}}</span><br>
        <span class="subtle">{{event.eventEndDate | date}}</span>
        <div class="card-media-body-top-icons u-float-right">
          <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/>
          </svg>
          <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </div>
      </div>
      <span class="card-media-body-heading">{{event.about}}</span>
      <div class="card-media-body-supporting-bottom">
        <span class="card-media-body-supporting-bottom-text subtle">{{event.venue}}</span>
        <span class="card-media-body-supporting-bottom-text subtle u-float-right">Rs. {{event.ticketPrice}}</span>
      </div>
      <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
        <span class="card-media-body-supporting-bottom-text subtle">#{{event.eventType}} #{{event.category}}</span>
        <a class="card-media-body-supporting-bottom-text card-media-link u-float-right">No.of Tickects Booked : {{len}} </a>
        <br>
        <button type="button" (click)="getProfs(event.eventId)" class="btn btn-primary" data-toggle="modal" data-target="#rateProf" style="width: auto; align-content: center;">
          Rate Professionals
      </button>
      <button type="button" (click)="setEvent(event.eventId)" class="btn btn-primary" data-toggle="modal" data-target="#shareEvent" style="width: auto; align-content: center;">
        Share my event
    </button>
      </div>
    </div>
  </div>
  
</div>

</div>
</div>




<div class="modal fade" data-backdrop="false" id="rateProf">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Rate Professional</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" style="background-color: black;">
            
              
          <div *ngFor="let prof of eventProfs">
            <p style="color:white; font-size:20px;"> {{prof.professionalName}} </p>
            <p style="color:white; font-size:20px;"> {{prof.serviceType}} </p>
            <p style="color:white; font-size:20px;"> {{prof.serviceName}} </p>
              <br><br>

              <h6 class="text-primary" style="color:white; font-size:20px;">
                <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
                <button (click)="addRating(prof.professionalId, currentRate)" style="color: white;">Rate</button>

              </h6>
          </div>
              
          </div>
         
         
          <div class="modal-footer">
            <button (click)="submit()" style="color: white;">Rate</button>

          </div>

      </div>
  </div>
</div>



<div class="modal fade" data-backdrop="false" id="shareEvent">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Share your event</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" style="background-color: black;">
              <input type="email" name="to" placeholder="Enter mailID" [(ngModel)]='to' style="width:400px;">      
          </div>
         
         
          <div class="modal-footer">
            <button (click)="shareEvent()">Share</button>

          </div>

      </div>
  </div>
</div>
