<!--<app-header></app-header>
     <app-readblog></app-readblog>
      <app-register></app-register>
     <router-outlet></router-outlet>
      <app-signup></app-signup>
      <router-outlet></router-outlet>
          <app-sponsorform></app-sponsorform>
      <app-forgotpassword></app-forgotpassword>
    <app-showevent></app-showevent>
    <app-share-experience></app-share-experience>
    <app-homepage></app-homepage>
<app-showevent></a0pp-showevent>-->
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>