<br><br><br><br><br><br><br><br>

<div class="container" style="text-align: center;">

<h1>Reset Password</h1>
<input type="text" name="userName" [(ngModel)]="userName" placeholder="Enter userName"><br><br>
<input type="password" name="newpassword" [(ngModel)]="newpassword" placeholder="Enter new password"><br><br>
<input type="password" name="confirmnewpassword" [(ngModel)]="confirmnewpassword" placeholder="Confirm new password"><br><br>

<button (click)="changepassword()" >Change password</button>
</div>

<br><br><br><br><br><br><br><br> 