<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>
<body>
  <br><br><br><br><br><br><br><br>
<div>
  <div class="main">
    <p class="sign" style="text-align: center;">Set New Password</p><br><br>
      <input class="un " type="text" name="pass" [(ngModel)]='pass'  style="text-align: center;" placeholder="New Password">
      <input class="pass" type="password" name="password" [(ngModel)]='password' style="text-align: center;" placeholder="Confirm New Password">
      <br><br>
      <button class="button" [disabled]="isLoading" (click)="update()" class="submit" style="text-align: center; margin-left: 100px;">
        <img *ngIf="isLoading" style="width : 24px" src="/assets/img/126.gif" />
        Update Password
      </button>  
    </div>
     
  </div>
</body>
</html>