.adjust {
  width:400px;
}
input::placeholder {
  font-size:15px;
}
textarea::placeholder {
  font-size:20px;
}
textarea {
  font-size:20px;
}
input,select {
  height: 40px;
  font-size: 15px;
}
button {
  height: 30px;
  width:70px;
  font-size: 15px;
  margin-left: 70px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin :15% 0 0 0;  
  padding:50px;
  font-size:16pt;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.time-picker {
  display:flex;
  align-items:center;
  margin:0 auto;
  width:150px;
  justify-content:space-evenly;
  border:1px solid #ccc;
  border-radius:10px;
  padding:25px;
}
.tp-col {
  display:flex;
  flex-direction:column;
  align-items: inherit;
}
.tp-hr>span,.tp-min>span {
  border:1px solid #ccc;
  padding:4px 4px ;
  border-radius:4px;
  width:25px;
  text-align:center;
  font-size:15pt;
}
.tp-up-arrow,.tp-down-arrow {
  cursor:pointer;
  width:15px;
  height:15px;
}
.tp-am-pm {
  cursor:pointer;
  display:block;
  padding:1px 3px;
  border-radius:5px;
}
.tp-am-pm:hover {
  background:#eaeaea;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

body{
  font-family: verdana;
}

.content {
  max-width: 1600px;
  margin: auto;

}
.filter-input{
  font-size:25px;
  padding:5px;
  border-radius:3px;
  border:2px solid #ccc;
  margin-bottom:5px;
  padding-right: 30px;
}

.clear-selection {
    font-size: 12px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    position: absolute;
}

.game-list {
    margin-top: 35px;
}

li.game-item {
    list-style: none;
    font-size: 20px;
    padding: 3px 0px;
}
li.game-item input{
  height: 20px;
    width: 20px;
}

.game-text{
  vertical-align:top;
}

.selected-game {
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    background: #B9CFEA;
    margin-bottom: 10px;
    padding: 2px 11px 4px 11px;
    border-radius: 8px;
}

.delete-game{
    font-size: 13px;
    padding: 3px 6px;
    vertical-align:middle;
    cursor:pointer;
}
.delete-game:hover{
    background: #99ABC1;
    padding: 3px 6px;
    border-radius: 15px;
}

.filter-wrap{
  position:relative ;
 
}

.filter-clear{
    position: absolute;
    margin-left: -24px;
    margin-top: 11px;
    cursor:pointer;
}

