<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



   <form #registerForm="ngForm"  (ngSubmit)="eventSubmit(registerForm.value)">

      
      <mat-vertical-stepper [linear]="" #stepper style="background-image: url('/assets/img/techevent.jpg');">

         <mat-step >
            <div style="margin-top: -40px;scroll-margin-left: 30px;">
               <br>  <br>  <br>  <br>  <br>

               <button mat-button matStepperNext class="button button4">Next</button>
            </div>
         </mat-step>

         <mat-step>
            <div style="margin-top: -40px;scroll-margin-left: 30px;">
          

               <button mat-button matStepperNext class="button button4">Next</button>
            </div>
         </mat-step>
         <mat-step>
            <div style="margin-top: -40px;scroll-margin-left: 30px;">
               <br>

               <button mat-button matStepperNext class="button button4">Next</button>
            </div>
         </mat-step>
         <mat-step>
            <div style="margin-top: -40px;scroll-margin-left: 30px;">
               <br>

               <button mat-button matStepperNext class="button button4">Next</button>
            </div>
         </mat-step>
      
      </mat-vertical-stepper>
   
   </form>

