@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.add{
    cursor: pointer;
    }


.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}
.hero-image {
	background-image: url("/assets/img/cc.png");
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  .hero-image1 {
	background-image: url("/assets/img/show.jpg");
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  .hero-image2 {
	background-image: url("/assets/img/music1.jpg");
	height:800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  .hero-image3 {
	background-image: url("/assets/img/carnival.jpg");
	height:auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
.user-profile {
  margin: auto;
	width: 30em; 
  height: 11em;
  background: #fff;
  border-radius: .3em;
}
.button4 {background-color: #e7e7e7; color: black;
margin-right: 20px;

} /* Gray */
.button2 {background-color: #008CBA;color: white;margin-left: 40px;font-size: 16px;}  
.user-profile  .username {
  margin: auto;
  margin-top: -4.00em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.user-profile ul.data {
	margin: 2em auto;
	height: 3.70em;
  background: #4eb6b6;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: 0 auto;
  padding: 1.30em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

/*timeline*/
.timeline{
	width:800px;
	height:1000px;
	background-color:#072736;
	color:#fff;
	padding:30px 20px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #094a68;
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align:center;
}
.timeline ul li .content h3{
	color:#34ace0;
	font-size:17px;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#071f2a;
}
.timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}


.custom-counter {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  .custom-counter li {
	counter-increment: step-counter;
	margin-bottom: 10px;
  }
  
  .custom-counter li::before {
	content: counter(step-counter);
	margin-right: 5px;
	font-size: 80%;
	background-color: rgb(0,200,200);
	color: white;
	font-weight: bold;
	padding: 3px 8px;
	border-radius: 3px;
  }



.text-card {
    position: relative;
    width: 570px;
    height: 230px;
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: #303336;
    background-color: #fff;
    box-shadow: 0 40px 40px -20px #8fc7d577;
}

.text-card .author-section {
    position: relative;
    display: flex;
    height: 40px;
}

.text-card .author-avator {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    object-position: center;
    object-fit: cover;
}

.text-card .author-name {
    position: relative;
    display: inline-block;
    height: fit-content;
    font-weight: 700;
    font-size: .875em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    transition: 250ms;
}

.text-card .author-avator-link {
    margin-right: 20px;
    border-radius: 40px;
} 

.text-card .author-name-link {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
}

.text-card p {
    padding: 50px 0;
    line-height: 1.75;
    font-weight: 300;
    color: #7b8591;
}

.text-card button {
    padding: 10px 25px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .875em;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #303336;
    background-color: #fff;
    cursor: pointer;
    transition: 300ms;
}

.text-card button:hover {
    border: 1px solid #bebebe;
}


/* Display this style when screen-width is lower than 425px */
@media only screen and (max-width: 425px) {

    .text-card {
        width: 100%;
        height: auto;
    }

}


.designer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    font-weight: 400;
    color: #46a2b9;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: 300ms;
}

.designer a {
    text-decoration: none;
    color: #23515d;
}