<div class="hero-image">
  <br><br> <br><br> <br><br><br><br>
  <div class="container" style="margin-left: 700px;">
    <article class="ticket">
      <header class="ticket__wrapper">
        <div class="ticket__header">
          Tickets : {{num}} 🎟
        </div>
        <div class="ticket__header">
          <p><span class="glyphicon glyphicon-user"></span>
            Booked by : {{User.userName}} </p>
        </div>
      </header>
      <div class="ticket__divider">
        <div class="ticket__notch"></div>
        <div class="ticket__notch ticket__notch--right"></div>
      </div>
      <div class="ticket__body">
        <section class="ticket__section">
          <h4><b>Event</b></h4>
          <h3>{{Event.eventName}}</h3>
          <h4><b>On</b></h4>
          <h3>{{Event.eventDate | date}}</h3>
          <h3>{{Event.eventDate | date : 'mediumTime'}}</h3>
        </section>
        <section class="ticket__section">
          <h4><b>Venue</b></h4>
          <h3>{{Event.venue}}</h3>
        </section>
      </div>
      <footer class="ticket__footer">
        <span>Total Paid</span>
        <span>{{Event.ticketPrice}}*{{num}}</span>
      </footer>
    </article>
  </div>
</div>
<!--
<div class="container">
<article class="ticket">
    <header class="ticket__wrapper">
      <div class="ticket__header">
        Tickets: {{num}} 🎟
      </div>
      <div class="ticket__header">
        <p>User icon: <span class="glyphicon glyphicon-user"></span>  
        Name: {{User.userName}} </p> 
      </div>
    </header>
    <div class="ticket__divider">
      <div class="ticket__notch"></div>
      <div class="ticket__notch ticket__notch--right"></div>
    </div>
    <div class="ticket__body">
      <section class="ticket__section">
        <h3>{{Event.eventName}}</h3>
        <h3>Date</h3>
        <p>{{Event.eventDate | date}}</p>
        <p>{{Event.eventDate | date : 'mediumTime'}}</p>
      </section>
      <section class="ticket__section">
        <h3>Venue</h3>
        <p>{{Event.venue}}</p>
      </section>
    </div>
    <footer class="ticket__footer">
      <span>Total Paid</span>
      <span>{{Event.ticketPrice}} * {{num}}</span>
    </footer>
  </article>
  </div>

<br><br><br><br><br><br> -->