<br><br><br><br><br><br>

<div class="container">
    <h2 style = "color:black"><b>Step 2</b></h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
        25%
      </div>
    </div>
  </div>

<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>

<div  *ngFor='let prof of professionals  | filter : term'>
  <br>
<div class="user-profile">
	<img class="avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s" alt="Ash" />
  <br>  
  <div class="username">{{prof.professionalName}}</div>
  <div class="bio">
    {{prof.serviceName}}
  	{{prof.serviceType}}
  </div>
    <div class="description">
      {{prof.address}}
  </div><br>
  <button (click)="addProfessional(prof)">add professional</button>
  <button (click)="removeProfessional(prof)">remove professional</button>
  <ul class="data">
    <li>
      <span class="entypo-heart"> 127</span>
    </li>
    <li>
      <span class="entypo-eye"> 853</span>
    </li>
    <li>
      <span class="entypo-user"> 311</span>
    </li>
 </ul>
</div>
</div>

<!--
<table class="table table-bordered table-sm text-center" style="background-color: white;">
    <thead>
        <tr class="bg-info text-white">
            <th>ID</th>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>EXPERIENCE</th>
            <th>MAIL-ID</th>
            <th>MOBILE-NO.</th>
            <th>SERVICENAME</th>
            <th>SERVICETYPE</th>
            <th>ADD</th>
            <th>REMOVE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let prof of professionals  | filter : term'>
            <td>{{prof.professionalId}}</td>
            <td>{{prof.professionalName}}</td>
            <td>{{prof.address}}</td>
            <td>{{prof.experience}}</td>
            <td>{{prof.mailId}}</td>
            <td>{{prof.mobile}}</td>
            <td>{{prof.serviceName}}</td>
            <td>{{prof.serviceType}}</td>
            <td><button (click)="addProfessional(prof)">add professional</button></td>
            <td><button (click)="removeProfessional(prof)">remove professional</button></td>
        </tr>
    </tbody>
</table>
-->

<button (click)="regEvent()">Proceed</button>