<div class="user-ragistration" class="bg">
  <div class="container register">
    <h1 style="color: white;">Register as <b>User</b>... Host your own events, Book a ticket for an event</h1>
    <h1 style="color: white;">Register as <b>Professional</b>... Expand your service, Get more opportunities</h1>
    <div class="row">
      <div class="col-md-3 register-left">
        <!--<img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />-->
        <!--<h3>Welcome</h3>
        <p>You are 30 seconds away from earning your own money!</p>-->
        <!--<input type="submit" name="" value="Login" /><br />-->
      </div>
      <div class="col-md-9 register-right" style="margin-top: 10px;">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="false">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Professional</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h1 class="register-heading" ><b>Register as a User</b></h1>
         
            <div class="row register-form">
              <form #registerForm="ngForm">
                <div class="col-md-6">
                  <div class="form-group" style="margin-left:-10px; margin-top: -30px;">
                    <input type="text" class="form-control" name="userName" placeholder="userName *" value=""
                      [(ngModel)]='user.userName' style="width:250px; height:40px;" required />
                  </div>
                  <div class="form-group" style="margin-left:-10px;">
                    <input type="text" class="form-control" name="contact" placeholder="contact *" value=""
                      [(ngModel)]='user.contact' style="width:250px; height:40px;" required/>
                  </div>
                  <div class="form-group" style="margin-left:-10px;">
                    <input type="text" class="form-control" name="emailId" placeholder="emailId *" value=""
                      [(ngModel)]='user.emailId' style="width:250px; height:40px;" required/>
                  </div>
                  <div class="form-group" style="margin-left:-10px;">
                    <input type="password" class="form-control" name="password" placeholder="password *" value=""
                      [(ngModel)]='user.password' style="width:250px; height:40px;" required/>
                  </div>
                  <div class="form-group" style="margin-left:-10px;">
                    <input type="password" class="form-control" required="true" name="confirmpassword" [(ngModel)]='confirmPassword' placeholder="confirmPassword*" style="width:250px; height:40px;" required/>
                  </div>
                </div>
              </form>

              <!--<div style="margin-left:400px;">
                <input type="submit" class="btnRegister" value="Register" style="width:200px; height:50px" />
              </div>-->
         
          </div>
            <!---Modal-->
            <div style="text-align: center; margin-left:-420px; margin-top: -80px;">
              <!-- Button to Open the Modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                (click)="register()" style="width: 70px;">
                Signup
              </button>
              <!-- The Modal -->
              <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">OTP is sent to given mailID</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <input type="text" name="userotp" [(ngModel)]='userotp' placeholder="Enter OTP">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="validateOTP()">Check</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h1 class="register-heading" style="margin-top: 10px; margin-left: -250px;"><b>Register as a Professional</b></h1>
            <div class="row register-form" style="margin-left: 50px;">
              <form #profForm="ngForm">
                <div class="col-md-6">
                  <div class="form-group" style="margin-left:-210px; width:200px; margin-top: -20px;">
                    <input type="text" class="form-control" placeholder="ProfessionalName *" value="" name="professionalName"
                      [(ngModel)]='profDetails.professionalName' />
                  </div>
                  <div class="form-group" style="margin-left:-210px; width:200px;">
                    <input type="text" class="form-control" placeholder="Address *" value="" name="address"
                      [(ngModel)]='profDetails.address' />
                  </div>
                  <div class="form-group" style="margin-left:-210px; width:200px;">
                    <input type="number" class="form-control" placeholder="Experience *" value="" name="experience"
                      [(ngModel)]='profDetails.experience' />
                  </div>
                  <div class="form-group" style="margin-left:-210px; width:200px;">
                    <input type="text" class="form-control" placeholder="EmailId *" value="" name="mailId"
                      [(ngModel)]='profDetails.mailId' />
                  </div>
                  <div class="form-group" style="margin-left:-210px; width:200px;">
                    <select name="serviceType" id="category" name="serviceType" [(ngModel)]='profDetails.serviceType'
                    class="form-control">
                      <option hidden value="" disabled selected>Select Service type</option>
                      <option *ngFor="let service of serviceType">{{service}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" style="margin-left:-55px; width:200px; margin-top: -20px;">
                    <input type="text" class="form-control" placeholder="mobile *" name="mobile" value=""
                      [(ngModel)]='profDetails.mobile' />
                  </div>
                  <div class="form-group" style="margin-left:-55px; width:200px;">
                    <input type="text" class="form-control" placeholder="serviceName *" name="serviceName" value=""
                      [(ngModel)]='profDetails.serviceName' />
                  </div>
                  <div class="form-group" style="margin-left:-55px; width:200px;">
                    <input type="password" class="form-control" placeholder="Password *" name="password" value=""
                      [(ngModel)]='profDetails.password' />
                  </div>
                  <div class="form-group" style="margin-left:-55px; width:200px;">
                    <input type="password" class="form-control" required="true" name="confirmpassword" [(ngModel)]='confirmPassword' placeholder="confirmPassword*" />
                  </div>
                  <div class="form-group" style="margin-left:-55px; width:200px;">
                    <img [src]="imageUrl" style="width:200px;height:100px;">
                    <div style="margin-left: 60px;">
                      <input style type="file" name="serviceImage" accept="image/*"
                        [(ngModel)]='profDetails.serviceImage' (change)="handleFileInput($event.target.files)">
                      <br>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!---Modal-->
            <div style="text-align: center; margin-left:-400px; margin-top: -120px;">
              <!-- Button to Open the Modal -->
              <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#ProfModal"
                (click)="registerProf()">
                Signup
              </button>
              <!-- The Modal -->
              <div class="modal fade" id="ProfModal">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">OTP is sent to given mailID</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <input type="text" name="profotp" [(ngModel)]='profotp' placeholder="Enter OTP">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="validateOTPProf()">Check</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
