<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  
<div class="content1">
    <div style="margin-left: 300px;">

</div>
    <div class="row"> 
      
    <div class="col-sm-2" style="background-color:lavender;">
    <h2>Choose Category</h2>

  <ul class="game-list">
    <li *ngFor="let g of games | filter : searchText" class="game-item"> 
      <input (change)="getSelected()" type="checkbox"
               name="games"
               value="{{g.id}}"
               [(ngModel)]="g.selected"/> 
      <span class="game-text">{{g.name}}</span>
    </li>
  </ul>
  
  
  <div class="selected-games-wrap">
      <div class="selected-game" *ngFor="let s of selected_games" >
        <span>{{s.name}} <span class="delete-game" (click)="deleteGame(s.id)" title="Click to delete">X</span></span>
      </div>
  </div>
</div>




<div class="col-sm-8" style="background-color:lavenderblush;">

<div class="form-group">
    <input type="text" class="form-control" placeholder="Search " [(ngModel)]="term">
</div>


<h1 style="color: white;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Unity is strength choose professionals for event, make it successful!</h1>

  <div class="container" style="background-color: white; width:400px;">
    <h1>Chosen Professionals</h1>
    <ol class="custom-counter" *ngFor="let x of chosenProfessional">
       <li>{{x.professionalName}}, {{x.serviceType}}, {{x.serviceName}}, {{x.address}}</li>
     </ol>
  </div>


<div *ngFor="let prof of professionals | filter:term">
  
  <ng-container *ngIf = "!status()">
       
  <section class="text-card">
     <div class="content"><br>
         <div class="author-section">
            <img class="author-avator" src="http://localhost:8080/RESTAPI/images/{{prof.serviceImage}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="author-name">Name  <br>{{prof.professionalName}}</h6><br>
            <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profession <br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceType}} &nbsp;&nbsp;&nbsp;&nbsp;</h6><br>
            <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shop name <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceName}}</h6><br>
         </div>
         <br><br>
         <button class="button button2" (click)="addProfessional(prof)">add professional</button>
         <button class="button button2" (click)="removeProfessional(prof)">remove professional</button>

     </div>
   </section>
  </ng-container>

  <ng-container *ngIf = "status()">
    <ng-container *ngFor = 'let s of selected_games'>
      <ng-container *ngIf = "prof.serviceType === s.name">
    
        <section class="text-card">
          <div class="content"><br>
              <div class="author-section">
                 <img class="author-avator" src="http://localhost:8080/RESTAPI/images/{{prof.serviceImage}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <h6 class="author-name">Name  <br>{{prof.professionalName}}</h6><br>
                 <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profession <br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceType}} &nbsp;&nbsp;&nbsp;&nbsp;</h6><br>
                 <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shop name <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceName}}</h6><br>
              </div>
              <br><br>
              <button class="button button2" (click)="addProfessional(prof)">add professional</button>
              <button class="button button2" (click)="removeProfessional(prof)">remove professional</button>
     
          </div>
        </section>
  </ng-container>
</ng-container>
</ng-container>


  </div>

  <button class="btn btn-success" (click)="done()">Next</button>

</div>
    </div>
</div>
<!--<table class="table table-striped" style="text-align: justify;width:100%;
white-space: nowrap;">
    <thead>
        <tr>
          <th>Name</th>
          <th>Service</th> 
          <th>Experience</th>
          <th>Add</th>

        </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let prof of professionals | filter:term">
          <ng-container *ngIf = "!status()">
       
          <td>{{prof.professionalName}}</td>
          <td>{{prof.serviceType}}</td>
          <td>{{prof.experience}}</td>
          <td><button (click)="addProfessional(prof)">Add professional</button></td>

 
          </ng-container>
  
      <ng-container *ngIf = "status()">
        <ng-container *ngFor = 'let s of selected_games'>
          <ng-container *ngIf = "prof.serviceType === s.name">
        
        <td>{{prof.professionalName}}</td>
        <td>{{prof.serviceType}}</td>
        <td>{{prof.experience}}</td>
        <td><button (click)="addProfessional(prof)">add professional</button></td>
        
    
      </ng-container>
    </ng-container>
    </ng-container>
    
</tr>
  
  
  </tbody>
  </table>
  
  <br><br><br>
  
  <div class= "card" *ngFor="let x of chosenProfessional" >
    <p>Professional Name : {{x.professionalName}}</p>
    <p>Service : {{x.serviceType}}</p>
    <button (click)="removeProfessional(x)">remove professional</button>
  </div>


  <br>
  <div style="text-align: center;">
  <button (click)="done()">Done</button>
</div>
</div>
</div>
</div>
-->