<p>blogform works!</p>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  
  <form method="post" action="">
    <h4 id="logo">blog</h4> <br><br>
    <input type="text" id="rcorners" placeholder="Type in title...">
  <br><br>
    <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Choose category
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li> Photography</li>
      <li> Decorations</li>
      <li> Event management</li>
     
    </ul>
  </div>
    <br>
   <textarea placeholder="Write content of blog not less than 250 words" rows="20" name="comment[text]" id="comment_text" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
    
    <button class="button button1">Add my blog</button>
  
  </form>