<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="hero-image1">
      <br><br><br><br>
      <div class="hero-image2">
      </div>
  </div>
  <div class="bg-img">
      <div class="content">
          <header>Blog Form</header>
          <form #blogForm="ngForm" (ngSubmit)="addblog(blogForm.value)" novalidate>
              <div class="field">
                  <span class="fa fa-user"></span>
                  <input type="text" required placeholder="Title">
              </div>
              <div style="float:left;">
                  <br>
                  <div class="dropdown">
                      <button class="dropbtn">Choose category</button>
                      <div class="dropdown-content">
                          <div *ngFor="let category of Category">{{category}}</div>
                      </div>
                  </div>
                  <br>

              </div>
              <br><br>
              <br><br>
              <div style="float:left;">
                  <br>
                  <label style="width:300px;" class="btn fileUpload btn-default">
                      Browse Image <input type="file" hidden="">
               </label>
               <br>
              </div>
              <br>
              <br><br>

              <div>
                  <textarea placeholder="Write content of blog not less than 250 words" rows="13" name="content"
                  [(ngModel)]='blogDetails.content' id="comment_text" cols="60" class="ui-autocomplete-input" autocomplete="off"
                  role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
              </div>
             <br><br><br>
              <div class="field">
                  <button class="btn btn-primary"  style="width:100%;"[disabled]="blogDetails.blogImage==''">Add my blog</button>     
              </div>



          </form>
                            
      </div>
  </div>




</body>