<div class="hero-image8" style="background-color:black ;"></div>
<div style="background-color: black;">
<br><br>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="/assets/img/performances.jpg" style="height:650px;" />
            </div>
            <div class="slide">
                <img src="/assets/img/Talks.jpg" style="height:750px;" />
            </div>
            <div class="slide">
                <img src="/assets/img/music1.jpg" style="height:650px;" />
            </div>
            <div class="slide">
                <img src="/assets/img/comedyshows.jpg" style="height:650px;" />
            </div>
            <div class="slide">
                <img src="/assets/img/performances.jpg" style="height:650px;" />
            </div>
        </div>
    </div>
    <br>
</div>

<div class="row" class="text-container" style="width:1833px;background-color: black;text-align: center; background-size: cover;">
    <h1 class="text" style="font-size: 150px;color:blanchedalmond;">Select the kind of event </h1>

        

</div>
<div class="row" style="background-color: black; width: 1847px;">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="button-images">
        <div class="three_fifth">
            <div class="button-container">
                <a routerLink="/techform">
                    <h2>Technical</h2>
                </a>
                <div class="button-image">
                    <img src="/assets/img/tech.jpg" style="height: 230px; " />
                </div>
            </div>
            <br>
        </div>
        <div class="three_fifth">
            <div class="button-container">
                <a routerLink="/createEvent">
                    <h2>Cultural</h2>
                </a>
                <div class="button-image">
                    <img src="/assets/img/cultural.jpg" style="height: 230px;" />
                </div>
            </div>
            <br>
        </div>
        <div class="three_fifth">
            <div class="button-container">
                <a routerLink="/eventform">
                    <h2>Personal Gathering</h2>
                </a>
                <div class="button-image">
                    <img src="/assets/img/gathering.jpg" style="height: 230px;" />
                </div>
            </div>
            <br>
        </div>


        <div class="clearboth"></div>
    </div>

</div>