div#app
  h2.d-flex.justify-content-center.mt-2 {{shopname}}
  
  div.container-fluid
    div.row
      div.col-sm-6.col-md-6.product.d-flex.justify-content-center.flex-wrap.mt-2
        div.products.col-5.d-flex.flex-column.justify-content-center.align-items-center.my-2.mx-2(v-for="(item,key) in list")
          img(:src="item.imgUrl", alt="").mt-2
          h5.mt-2|{{ item.name }}
          p|{{ item.discribe }}
          div.w-100.d-flex.justify-content-around.align-items-center.pb-1
            span|${{ item.price }}
            input(type="button" value="buy" @click="addCart(item)").btn.btn-sm.btn-info
       
      div.col-sm-6.col-md-6.cart.d-flex.mt-2
        span.empty(v-if="!cart.length")
          |There is empty !
        
        table.table.table.table-light.text-center(v-else)
            tr
              th| Product
              th| Quantity
              th| Price
              th| total
              th| operate
              
            tr(v-for="(item,key) in cart" :key="item.id")
              td {{ item.name }}
              td
                button(@click="sub(item)").btn.btn-sm.btn-outline-info.mx-1 -
                | {{ item.quantity }}
                button(@click="add(item)").btn.btn-sm.btn-outline-info +
              td {{ item.price }}
              td {{ item.quantity * item.price}}
              td
                button(@click="del(item)").btn.btn-sm.btn-danger x
          
      
  