<table id="t01">
  <tr>
    <th>Name</th>
    <th>Service</th> 
    <th>Experience</th>
    <th>Add</th>
    <th>Remove</th>
  </tr>
  <div *ngFor="let prof of professionals">
  <tr>
    <div class=" container column right" style="background-image: url(http://localhost:8080/RESTAPI/images/{{prof.serviceImage}});background-size: 100% 100%;
    background-repeat: no-repeat; padding-right: 10%;" ></div>
    <td>{{prof.professionalName}}</td>
    <td>{{prof.serviceType}}</td>
    <td>{{prof.experience}}</td>
    <td><button (click)="addProfessional(prof)">add professional</button></td>
    <td><button (click)="removeProfessional(prof)">remove professional</button></td>
    <td>{{prof.experience}}</td>
  </tr>
  </div>
  <div *ngFor="let x of chosenProfessional">
    <p>{{x.professionalName}}</p>
    <p>{{x.serviceType}}</p>
  </div>
</table>
<button (click)="done()">Done</button>