<div class="hero-image8" style="background-color:black ;"></div>
<!-- The Modal -->


<form #registerForm="ngForm" class="form-group" class="form-wrapper">


 
    <div class="modal fade" id="timeline">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title"><b>Timeline</b></h1>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="timeline" style="margin-left: 35px;">
                        <ul>
                            <li>
                                <span>Start</span>
                                <div class="content">
                                    <div style="margin-left: 100px;">
                                        <div class="form-group">
    
                                            <input class="form-control" id="focusedInput" type="text"
                                                style="width:240px; color: black;" autofocus="true" name="startTime"
                                                [(ngModel)]='eventDetails.startTime' 
                                                placeholder="Start Time">
                                            <br>
                                            <textarea rows="3" cols="45" autofocus="true" name="startOverview"
                                                style="color: black;" [(ngModel)]='eventDetails.startOverview'
                                                 placeholder="Start overview">
                                     </textarea>
                                        </div>
                                    </div>
    
                                </div>
                            </li>
                            <li>
                                <span>Time/Day</span>
                                <div class="content">
                                    <div style="margin-left: 100px;">
                                        <div class="form-group">
    
                                            <input class="form-control" id="focusedInput" type="text" style="width:240px;"
                                                autofocus="true" name="time2" [(ngModel)]='eventDetails.time2'
                                                 placeholder="time2">
                                            <br>
                                            <textarea rows="3" cols="45" autofocus="true" style="color: black;"
                                                name="Overview2" [(ngModel)]='eventDetails.overview2' required="true">
                                 </textarea>
                                        </div>
                                    </div>
    
                                </div>
                            </li>
                            <li>
                                <span>End</span>
                                <div style="margin-left: 100px;">
                                    <div class="form-group">
    
                                        <input class="form-control" id="focusedInput" type="text" style="width:240px;"
                                            autofocus="true" name="endTime" [(ngModel)]='eventDetails.endTime'
                                            placeholder="end Time">
                                        <br>
                                        <textarea rows="3" cols="45" autofocus="true" style="color: black;"
                                            name="endOverview" [(ngModel)]='eventDetails.endOverview'
                                            placeholder="end overview">
                                  </textarea>
                                    </div>
                                </div>
                            </li>
    
                        </ul>
                    </div>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>




    <div class="container1" style="background-color: black;"> <br><br>
        <h1 style="margin-left:120px;color: white; font-size: 40px;"></h1><br><br>
        <div class="row">
            <br><br>
            <div class="flip" style="margin-left: 230px;">
                <div class="front"
                    style="background-image: url(/assets/img/notepad.png);background-size: cover;height: 350px;">
                    <br><br><br><br>
                    <div class="text-block">
                        <h1>Basic Info</h1>
                    </div>
                </div>
                <div class="back" style="height:350px">
                    <div class="form-group">
                        <h2 for="focusedInput" style="color:white">Event Name</h2>
                        <input class="form-control" id="focusedInput" type="text" style="width:270px;" autofocus="true"
                            name="eventName" [(ngModel)]='eventDetails.eventName' required="true"
                            placeholder="eventName">
                    </div>
                    <h2 for="focusedInput" style="color:white">Organiser Name</h2>
                    <input class="form-control" id="focusedInput" style="width:270px;" type="text" autofocus="true"
                        name="organiserName" [(ngModel)]='eventDetails.organiserName' required="true"
                        placeholder="organiserName">
                        <br>
                        <div class="back" style="height:350px;">
                  
                            <h2 for="focusedInput" style="color:white">Event category</h2>
        
                            <select style="color:black;" name="category" id="category" [(ngModel)]='eventDetails.category'>
                                <option hidden value="" disabled selected>Choose category </option>
                                <option *ngFor="let category of Category">{{category}}</option>
                            </select>
                        </div>

                </div>
            </div>

            <div class="flip" style="margin-left: 100px;height: 350px;">
                <div class="front" style="background-image: url(/assets/img/category.jpg);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">About event</h1>
                </div>
                <div class="back" style="height:350px;">
                    <div class="form-group">
                        <h2 for="focusedInput" style="color:white">About</h2>
                        <textarea class="form-control" id="focusedInput" style="width:270px;" rows="5" cols="10" type="text" autofocus="true"
                            name="about" [(ngModel)]='eventDetails.about' required="true" placeholder="about"></textarea>
                    </div>
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;height: 350px;">
                <div class="front" style="background-image: url(/assets/img/calender.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Date</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for=" focusedInput" style="color:white">start date</h2>

                    <input style="color:black;" class="login-username" type="date" name="eventStartDate"
                        [(ngModel)]='eventDetails.eventStartDate' required="true" placeholder="Event start date">
                    <br><br><br>
                    <h2 for="focusedInput" style="color:white">End date</h2>

                    <input style="color:black;" class="login-username" type="date" name="eventEndDate"
                        [(ngModel)]='eventDetails.eventEndDate' required="true" placeholder="Event end date">
                </div>
            </div>
        </div> <br><br>
    </div>
    <div class="container1" style="background-color: black;"> <br><br>
        <h1 style="margin-left:120px;color: white; font-size: 40px;"></h1><br><br>
        <div class="row">
            <br><br>
            <div class="flip" style="margin-left: 230px;height: 350px;">
                <div class="front"
                    style="background-image: url(/assets/img/clock.jpg);background-size: cover;height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Timeline</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2>Click below button to submit timeline</h2>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#timeline"
                        style="width: 150px;">
                        Click Here
                    </button>
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;">
                <div class="front" style="background-image: url(/assets/img/venue.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Venue</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for="focusedInput" style="color:white">Venue</h2>
                    <textarea class="form-control" id="focusedInput" type="text" type="text" rows="5" cols="7"style="width:270px;"
                        autofocus="true" name="venue" [(ngModel)]='eventDetails.venue' required="true"
                        placeholder="add venue"></textarea>

                        <br><br>
                        <button (click)="goTocart()" style="background-color: black;">Choose professionals</button>
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;">
                <div class="front" style="background-image: url(/assets/img/attendees.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Attendees Count</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for="focusedInput" style="color:white">Attendees Count</h2>
                    <br>
                    <input class="form-control" id="focusedInput" style="width:270px;" type="number" autofocus="true"
                        name="attendeesCount" [(ngModel)]='eventDetails.attendeesCount' required="true"
                        placeholder="attendeesCount">
                </div>
            </div>
        </div> <br><br>
    </div>
    <div class="container1" style="background-color: black;"> <br><br>
        <h1 style="margin-left:120px;color: white; font-size: 40px;"></h1><br><br>
        <div class="row">
            <br><br>
            <div class="flip" style="margin-left: 230px;">
                <div class="front"
                    style="background-image: url(/assets/img/ticket.jpeg);background-size: cover;height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Ticket Price</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for="focusedInput" style="color:white">Ticket fee</h2>
                    <input class="form-control" id="focusedInput" style="width:270px;" autofocus="true"
                        name="ticketPrice" [(ngModel)]='eventDetails.ticketPrice' required="true"
                        placeholder="ticketPrice" type="number">
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;">
                <div class="front" style="background-image: url(/assets/img/guest.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Guest</h1>
                </div>
                <div class="back" style="height:350px;">
                    <div class="form-group">
                        <h2 for="focusedInput" style="color:white">Guest Details</h2>
                        <input class="form-control" id="focusedInput" type="text" style="width:270px;" autofocus="true"
                            name="guest1" [(ngModel)]='eventDetails.guest1' required="true" placeholder="Guest">
                    </div>
                    <div class="form-group">

                        <input class="form-control" id="focusedInput" type="text" style="width:270px;" autofocus="true"
                            name="guest2" [(ngModel)]='eventDetails.guest2' required="true" placeholder="Guest">
                    </div>
                    <div class="form-group">

                        <input class="form-control" id="focusedInput" type="text" style="width:270px;" autofocus="true"
                            name="guest3" [(ngModel)]='eventDetails.guest3' required="true" placeholder="Guest">
                    </div>
                </div>
            </div>
            <div class="flip" style="margin-left: 100px;">
                <div class="front"
                    style="background-image: url(/assets/img/sponsor.jpg);background-size: cover;height:350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Sponsors</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for="focusedInput" style="color:white">Allow Sponsors ?</h2>
                    <select style="color:black;" name="sponsor" id="category" [(ngModel)]='eventDetails.sponsor'>
                        <option hidden value="" disabled selected>sponsors</option>
                        <option *ngFor="let sponsor of Sponsor">{{sponsor}}</option>
                    </select>
                </div>
            </div>


        </div> <br><br>
    </div>
    <div class="container1" style="background-color: black;"> <br><br>
        <h1 style="margin-left:120px;color: white; font-size: 40px;"></h1><br><br>
        <div class="row">
            <br><br>
            <div class="flip" style="margin-left: 230px;">
                <div class="front" style="background-image: url(/assets/img/uploadg.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Upload poster</h1>
                </div>
                <div class="back" style="height:350px;;">
                    <h2 for="focusedInput" style="color:white">Upload here</h2>
                    <img [src]="imageUrl" style="height:250px; width:300px;">
                    <div style="margin-left: 20px;" class="hero-image1">
                        <input style type="file" name="poster" accept="image/*" [(ngModel)]='eventDetails.poster'
                            (change)="handleFileInput($event.target.files)">
                        <br>
                    </div>
                </div>
            </div>
            <br>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
            <button class="btn btn-primary" (click)="eventSubmit()" style="height:40px;" [disabled]="eventDetails.poster=='' ">Add Event</button>

        </div> <br><br>
    </div>
</form>