<br><br>
<div class="hero-image8" style="background-color: #f0e0e0;"></div>
<!-- The Modal style="background-color:hsl(218, 43%, 75%)  -->


<form #registerForm="ngForm" class="form-group" class="form-wrapper">


   

    <div class="modal fade" id="professionals">
        <div class="modal-dialog modal-lg" >
           <div class="modal-content" style="width: 1000px; margin-left: -100px; background-color: #fff1e6;">
              <!-- Modal Header -->
              <div class="modal-header">
                 <h1 class="modal-title"><b>Choose Professionals</b></h1>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
     
              <!-- Modal body -->
              <div class="modal-body" style="background-color:black">
                 
                  
                    <div class="row" > 
                      
                    <div class="col-sm-4" >
                    <h2 style="color: white;">Choose Category</h2>
                
                  <ul class="game-list">
                    <li *ngFor="let g of games | filter : searchText" class="game-item"> 
                      <input (change)="getSelected()" type="checkbox"
                               name=" games"
                               value="{{g.id}}"
                               [(ngModel)]="g.selected"/> 
                      <span class="game-text">&nbsp;&nbsp;&nbsp;{{g.name}}</span>
                    </li>
                  </ul>
                  
                  
                  <div class="selected-games-wrap">
                      <div class="selected-game" *ngFor="let s of selected_games" >
                        <span>{{s.name}} <span class="delete-game" (click)="deleteGame(s.id)" title="Click to delete">X</span></span>
                      </div>
                  </div>
                </div>
                
                
                
                
                <div class="col-sm-8" style="background-color: fff1e6">
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search " [(ngModel)]="term">
                </div>
                
              
                
                <div class="container" style=" width:475px;">
                   <h1 style="color: white;">Chosen Professionals</h1>
                   <ul class="card" *ngFor="let x of chosenProfessional" >
                     
                      <li><b>Professional Name:</b> {{x.professionalName}}<br>
                         <b> Service Type:</b> {{x.serviceType}}<br>   
                         <b> Service Name:</b> {{x.serviceName}}<br> 
                         <b> Address:</b> {{x.address}} <br>  
                         <button type="button" class=" btn btn-dark" style="width: 100px;" (click)="removeProfessional(x)">Remove</button>
                        <br>                      
                      </li>
                    </ul>
                 </div>
               
               
               <div *ngFor="let prof of professionals | filter:term">
                 
                 <ng-container *ngIf = "!status()">
                      
                 <section class="text-card">
                    <div class="content"><br>
                        <div class="author-section">
                           <img class="author-avator" src="http://localhost:8080/RESTAPI/images/{{prof.serviceImage}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <h6 class="author-name">Name  <br>{{prof.professionalName}}</h6><br>
                           <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profession <br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceType}} &nbsp;&nbsp;&nbsp;&nbsp;</h6><br>
                           <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shop name <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceName}}</h6><br>
                           
                        </div>
                        <br><br>
                        <button type="button" class=" btn btn-dark" style="width: 100px;" (click)="addProfessional(prof)">Add </button>
                        
               
                    </div>
                  </section>
                 </ng-container>
               
                 <ng-container *ngIf = "status()">
                   <ng-container *ngFor = 'let s of selected_games'>
                     <ng-container *ngIf = "prof.serviceType === s.name">
                   
                       <section class="text-card">
                         <div class="content"><br>
                             <div class="author-section">
                                <img class="author-avator" src="http://localhost:8080/RESTAPI/images/{{prof.serviceImage}}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <h6 class="author-name">Name  <br>{{prof.professionalName}}</h6><br>
                                <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profession <br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceType}} &nbsp;&nbsp;&nbsp;&nbsp;</h6><br>
                                <h6 class="author-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shop name <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{prof.serviceName}}</h6><br>
                             </div>
                             <br><br>
                             <button type="button" class=" btn btn-dark" style="width: 100px;" (click)="addProfessional(prof)">Add </button>
                             
                    
                         </div>
                       </section>
                 </ng-container>
               </ng-container>
               </ng-container>
               
                
                  </div>
                
              
                
                </div>
                    </div>
                
              </div>
     
              <!-- Modal footer -->
              <div class="modal-footer">
                 <button type="button" class="btn btn-primary" (click)="done()" data-dismiss="modal">Submit</button>
              </div>
           </div>
        </div>
     </div>
  
 <div class="modal fade" id="timeline" style="margin-top: 80px;">
    <div class="modal-dialog modal-lg">
       <div class="modal-content" style="background-color:white">

          <!-- Modal Header -->
          <div class="modal-header" style="background-color: rgb(211, 232, 225) ;">
             <h1 class="modal-title" style="margin-left: 350px;"><b>AGENDA</b></h1>
             <hr>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
             <div class="timeline" style="margin-left: 35px;">
                <ul>


                   <li>
                      <span></span>
                      <div class="content">
                         <div style="margin-left: 100px;">
                            <div class="form-group">

                               <input class="form-control" id="focusedInput" type="text" style="width:240px;"
                                  autofocus="true" name="time1" [(ngModel)]='eventDetails.time1'
                                  placeholder="Check Point 1">
                               <br>
                               <div class="form-group" class="adjust">
                                  <textarea type="text" class="form-control" name="Overview1"
                                     [(ngModel)]='eventDetails.overview1' aria-describedby="emailHelp"
                                     placeholder="Where is the Event ?" rows=4></textarea>
                               </div>
                            </div>
                         </div>

                      </div>
                   </li>


                   <li>
                      <span></span>
                      <div class="content">
                         <div style="margin-left: 100px;">
                            <div class="form-group">

                               <input class="form-control" id="focusedInput" type="text" style="width:240px;"
                                  autofocus="true" name="time2" [(ngModel)]='eventDetails.time2'
                                  placeholder="check Point 2">
                               <br>
                               <div class="form-group" class="adjust">
                                  <textarea type="text" class="form-control" name="Overview2"
                                     [(ngModel)]='eventDetails.overview2' aria-describedby="emailHelp"
                                     placeholder="Where is the Event ?" rows=4></textarea>
                               </div>
                            </div>
                         </div>

                      </div>
                   </li>


                </ul>
             </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer" style="background-color: rgb(211, 232, 225) ;">
             <button type="button" class="btn btn-dark" data-dismiss="modal">Submit</button>
          </div>
       </div>
    </div>
 </div>


    <div class="container1" style="background-color:#f0e0e0;"> <br><br>
        <h1 style="margin-left:120px;color: white; font-size: 40px;"></h1><br><br>
        <div class="row">
            <br><br>
            <div class="flip" style="margin-left: 230px;">
                <div class="front"
                    style="background-image: url(/assets/img/notepad.png);background-size: cover;height: 350px;">
                    <br><br><br><br>
                    <div class="text-block">
                        <h1>Basic Info</h1>
                    </div>
                </div>
                <div class="back" style="height:350px">
                    <div class="form-group">
                        <h2 for="focusedInput" style="color:white">Event Name</h2>
                        <input class="form-control" id="focusedInput" type="text" style="width:300px;height:50px;font-size: 20px;"
                            autofocus="true" name="eventName" [(ngModel)]='eventDetails.eventName' required="true"
                            placeholder="eventName">
                    </div>
                    <h2 for="focusedInput" style="color:white">Organiser Name</h2>
                    <input class="form-control" id="focusedInput" style="width:300px;height:50px;font-size: 20px;" type="text"
                        autofocus="true" name="organiserName" [(ngModel)]='eventDetails.organiserName' required="true"
                        placeholder="organiserName">
                    <br>
                    <div class="back" style="height:350px;">

                        <h2 for="focusedInput" style="color:white;">Event category</h2>

                        <select class="form-control"
                    style="color:black;font-size: 20px;  width:300px;height:50px;" name="category" id="category"
                            [(ngModel)]='eventDetails.category'>
                            <option hidden value="" disabled selected>Choose category </option>
                            <option *ngFor="let category of Category">{{category}}</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="flip" style="margin-left: 100px;height: 350px;">
                <div class="front" style="background-image: url(/assets/img/category.jpg);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">About event</h1>
                </div>
                <div class="back" style="height:350px;">
                    <div class="form-group">
                        <h2 for="focusedInput" style="color:white">About</h2>
                        <textarea class="form-control" id="focusedInput" style="width:300px;font-size: 20px;" rows="5"
                            cols="10" type="text" autofocus="true" name="about" [(ngModel)]='eventDetails.about'
                            required="true" placeholder="about"></textarea>
                    </div>
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;height: 350px;">
                <div class="front" style="background-image: url(/assets/img/calender.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Date</h1>
                </div>
                <div class="back" style="height:350px;">
                    
                        <mat-form-field class="example-full-width" appearance="fill"
                            style="width:200px;background-color:white;">
                            <mat-label>Choose start date</mat-label>
                            <input matInput [matDatepickerFilter]="myFilter1" [matDatepicker]="picker"
                                style="color:black" name="eventdate" [(ngModel)]='eventdate'>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                

                        <br><br><br>
                   
                        <h2>Number of days</h2>
                        <select class="form-control" placeholder="Select no.of Days" name="howManyDays" id="category"
                            [(ngModel)]='howManyDays' style="width:100px;">
                            <option hidden value="" disabled selected>Number of days</option>
                            <option *ngFor="let day of days">{{day}}</option>
                        </select>
               
                </div>
            </div>
        </div> <br><br>
    </div>
    <div class="container1" style="background-color: #f0e0e0 "> <br><br>
        <h1 style="margin-left:120px;color: white; font-size: 40px;"></h1><br><br>
        <div class="row">
            <br><br>
            <div class="flip" style="margin-left: 230px;height: 350px;">
                <div class="front"
                    style="background-image: url(/assets/img/clock.jpg);background-size: cover;height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Timeline</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2>Click below button to submit timeline</h2>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#timeline"
                        style="width: 150px;font-size: 20px;">
                        Click Here
                    </button>
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;">
                <div class="front" style="background-image: url(/assets/img/venue.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Venue</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for="focusedInput" style="color:white">Venue</h2>
                    <textarea class="form-control" id="focusedInput" type="text" type="text" rows="5" cols="7"
                        style="width:270px;font-size: 20px;" autofocus="true" name="venue"
                        [(ngModel)]='eventDetails.venue' required="true" placeholder="add venue"></textarea>

                    <br><br>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#professionals"
                    style="width: 300px;margin-top:30px;height:40px;font-size: 20px;">
                    Add Professionals
                 </button>
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;">
                <div class="front" style="background-image: url(/assets/img/attendees.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Attendees Count</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for="focusedInput" style="color:white">Attendees Count</h2>
                    <br>
                    <input class="form-control" id="focusedInput" style="width:300px;height:50px;font-size: 20px;" type="number"
                        autofocus="true" name="attendeesCount" [(ngModel)]='eventDetails.attendeesCount' required="true"
                        placeholder="attendees Count">
                </div>
            </div>
        </div> <br><br>
    </div>
    <div class="container1" style="background-color: #f0e0e0 ;"> <br><br>
        <h1 style="margin-left:120px;color: white; font-size: 40px;"></h1><br><br>
        <div class="row">
            <br><br>
            <div class="flip" style="margin-left: 230px;">
                <div class="front"
                    style="background-image: url(/assets/img/sponsor&ticket.jpg);background-size:cover;height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Tickets & Sponsors</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for="focusedInput" style="color:white">Ticket Fee</h2>
                    <input class="form-control" id="focusedInput" style="width:300px;height:50px;font-size: 20px;" autofocus="true"
                        name="ticketPrice" [(ngModel)]='eventDetails.ticketPrice' required="true"
                        placeholder="Ticket Price" type="number"><br>

                    <h2 for="focusedInput" style="color:white">Allow Sponsors ?</h2>
                    <select class="form-control" style="color:black;font-size: 20px; width:200px;" name="sponsor" id="category"
                        [(ngModel)]='eventDetails.sponsor'>
                        <option hidden value="" disabled selected>sponsors</option>
                        <option *ngFor="let sponsor of Sponsor">{{sponsor}}</option>
                    </select>
                   
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;">
                <div class="front" style="background-image: url(/assets/img/guest.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Guest</h1>
                </div>
                <div class="back" style="height:350px;">
                    <div class="form-group">
                        <h2 for="focusedInput" style="color:white">Guest Details</h2>
                        <input class="form-control" id="focusedInput" type="text" style="width:300px;height:50px;font-size: 18px;"
                            autofocus="true" name="guest1" [(ngModel)]='eventDetails.guest1' required="true"
                            placeholder="Guest">
                    </div>
                    <div class="form-group">

                        <input class="form-control" id="focusedInput" type="text" style="width:300px;height:50px;font-size: 18px;"
                            autofocus="true" name="guest2" [(ngModel)]='eventDetails.guest2' required="true"
                            placeholder="Guest">
                    </div>
                    <div class="form-group">

                        <input class="form-control" id="focusedInput" type="text" style="width:300px;height:50px;font-size: 18px;"
                            autofocus="true" name="guest3" [(ngModel)]='eventDetails.guest3' required="true"
                            placeholder="Guest">
                    </div>
                </div>
            </div>

            <div class="flip" style="margin-left: 100px;">
                <div class="front" style="background-image: url(/assets/img/uploadg.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Upload poster</h1>
                </div>
                <div class="back" style="height:350px;;">
                    <h2 for="focusedInput" style="color:white">Upload here</h2>
                    <img [src]="imageUrl" style="height:250px; width:300px;">
                    <div style="margin-left: 20px;" class="hero-image1">
                        <input style type="file" name="poster" accept="image/*" [(ngModel)]='eventDetails.poster'
                            (change)="handleFileInput($event.target.files)">
                        <br>
                    </div>
                </div>
            </div>
            <!----  <div class="flip" style="margin-left: 100px;">
                <div class="front"
                    style="background-image: url(/assets/img/sponsor.jpg);background-size: cover;height:350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Sponsors</h1>
                </div>
                <div class="back" style="height:350px;">
                    <h2 for="focusedInput" style="color:white">Allow Sponsors ?</h2>
                    <select style="color:black;font-size: 20px;" name="sponsor" id="category" [(ngModel)]='eventDetails.sponsor'>
                        <option hidden value="" disabled selected>sponsors</option>
                        <option *ngFor="let sponsor of Sponsor">{{sponsor}}</option>
                    </select>
                </div>--
            </div>-->




        </div> <br><br><br>
        <button class="btn btn-dark" (click)="eventSubmit()"
            style="height:40px;font-size: 20px;margin-left: 640px; zoom: 130%;"
            [disabled]="eventDetails.poster=='' ">Add Event</button>
        <br><br><br><br>
    </div>

    <!--<div class="container1" style="background-color: #f0e0e0 ;"> <br><br>
        <h1 style="margin-left:120px;color: white; font-size: 40px;"></h1><br><br>
        <div class="row">
            <br><br>
            <div class="flip" style="margin-left: 230px;">
                <div class="front" style="background-image: url(/assets/img/uploadg.png);height: 350px;">
                    <br><br><br><br>
                    <h1 class="text-block">Upload poster</h1>
                </div>
                <div class="back" style="height:350px;;">
                    <h2 for="focusedInput" style="color:white">Upload here</h2>
                    <img [src]="imageUrl" style="height:250px; width:300px;">
                    <div style="margin-left: 20px;" class="hero-image1">
                        <input style type="file" name="poster" accept="image/*" [(ngModel)]='eventDetails.poster'
                            (change)="handleFileInput($event.target.files)">
                        <br>
                    </div>
                </div>
            </div>
            <br>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br><br>
            <button class="btn btn-primary" (click)="eventSubmit()" style="height:40px;font-size: 20px;background-color: rgb(18, 120, 216);" [disabled]="eventDetails.poster=='' ">Add Event</button>

        </div> <br><br>
    </div>-->

</form>