@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
  * {
      box-sizing: border-box;
      font-weight: normal;
 }
  body {
      color: #555;
      background: #222;
      text-align: center;
      font-family: 'Ubuntu';
      padding: 1em;
 }
  h1 {
      font-size: 2.2em;
 }
  .flip {
      position: relative;
 }
  .flip > .front, .flip > .back {
      display: block;
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
      border-radius:20px;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-duration: 0.5s;
      transition-property: transform, opacity;
 }
  .flip > .front {
      transform: rotateY(0deg);
   
 }
  .flip > .back {
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transform: rotateY(-180deg);
 }
  .flip:hover > .front {
      transform: rotateY(180deg);
 }
  .flip:hover > .back {
      opacity: 1;
      transform: rotateY(0deg);
 }
  .flip.flip-vertical > .back {
      transform: rotateX(-180deg);
 }
  .flip.flip-vertical:hover > .front {
      transform: rotateX(180deg);
 }
  .flip.flip-vertical:hover > .back {
      transform: rotateX(0deg);
    
 }
  .flip {
      position: relative;
      display: inline-block;
      margin-right: 2px;
      margin-bottom: 1em;
      width: 400px;
    
    
 }
  .flip > .front, .flip > .back {
      display: block;
      color: white;
      width: inherit;
      background-size: cover !important;
      background-position: center !important;
      height: 220px;
      padding: 1em 2em;
      background: #313131;
      border-radius: 10px;
 }
  .flip > .front p, .flip > .back p {
      font-size: 0.9125rem;
      line-height: 160%;
      color: #999;
 }
  .text-shadow {
   
      text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
 } 
 .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }





.timeline{
	width:700px;
	background-color:#006666;
	color:#fff;
	padding:30px 20px;
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
  
    border-radius:20px;
  
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #094a68;
    padding:10px 5px;
  
   
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align:center;
}
.timeline ul li .content h3{
	color:#34ace0;
	font-size:20px;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:20px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#071f2a;
}
.timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:20px;
	}

}
.game-list {
  margin-top: 35px;
  color : white;
}
.card {
box-shadow: 0 4px 8px 0 rgb(243, 231, 231); /* this adds the "card" effect */
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}

.hero-image8{
    background-image: url('/assets/img/blacky.png');
    height:500px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 1600px;
   position: relative;
  }


  .text-card {
    position: relative;
    width: 570px;
    height: 230px;
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: #303336;
    background-color: #fff;
    box-shadow: 0 40px 40px -20px #8fc7d577;
  }
  
  .text-card .author-section {
    position: relative;
    display: flex;
    height: 40px;
  }
  
  .text-card .author-avator {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    object-position: center;
    object-fit: cover;
  }
  
  .text-card .author-name {
    position: relative;
    display: inline-block;
    height: fit-content;
    font-weight: 700;
    font-size: .875em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    transition: 250ms;
  }
  
  .text-card .author-avator-link {
    margin-right: 20px;
    border-radius: 40px;
  } 
  
  .text-card .author-name-link {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
  }
  
  .text-card p {
    padding: 50px 0;
    line-height: 1.75;
    font-weight: 300;
    color: #7b8591;
  }
  
  .text-card button {
    padding: 10px 25px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    font-family: 'neuzeit-grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: .875em;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #303336;
    background-color: #fff;
    cursor: pointer;
    transition: 300ms;
  }
  
  .text-card button:hover {
    border: 1px solid #bebebe;
  }
  
  
  /* Display this style when screen-width is lower than 425px */
  @media only screen and (max-width: 425px) {
  
    .text-card {
        width: 100%;
        height: auto;
    }
  
  }*/
  
  
  .designer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    font-weight: 400;
    color: #46a2b9;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: 300ms;
  }
  
  .designer a {
    text-decoration: none;
    color: #23515d;
  }
  .content1 {
  max-width: 1600px;
  margin: auto;
  margin-top: 150px;
  margin-left: 280px;
  }
  
  .star-rating-display {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 4rem;
    display: inline-block;
    position: relative;
  }
  .star-rating-display:before, .star-rating-display:after {
    content: "★★★★★";
    display: block;
    white-space: nowrap;
  }
  .star-rating-display:before {
    color: gold;
    position: absolute;
    z-index: 1;
    left: 0px;
    overflow: hidden;
  }
  .star-rating-display:after {
    z-index: 0;
  }
  .star-rating-display[data-rating="1"]:before {
    width: 20%;
  }
  .star-rating-display[data-rating="2"]:before {
    width: 40%;
  }
  .star-rating-display[data-rating="3"]:before {
    width: 60%;
  }
  .star-rating-display[data-rating="4"]:before {
    width: 80%;
  }
  .star-rating-display[data-rating="5"]:before {
    width: 100%;
  }

  .filter-input{
    font-size:25px;
    padding:5px;
    border-radius:3px;
    border:2px solid #ccc;
    margin-bottom:5px;
    padding-right: 30px;
  }
  
  .clear-selection {
      font-size: 12px;
      font-weight: bold;
      color: red;
      cursor: pointer;
      position: absolute;
  }
  
  .game-list {
      margin-top: 35px;
  }
  
  li.game-item {
      list-style: none;
      font-size: 20px;
      padding: 3px 0px;
  }
  li.game-item input{
    height: 20px;
      width: 20px;
  }
  
  .game-text{
    vertical-align:top;
  }
  
  .selected-game {
      display: inline-block;
      margin-right: 15px;
      font-size: 24px;
      background: #B9CFEA;
      margin-bottom: 10px;
      padding: 2px 11px 4px 11px;
      border-radius: 8px;
  }
  
  .delete-game{
      font-size: 13px;
      padding: 3px 6px;
      vertical-align:middle;
      cursor:pointer;
  }
  .delete-game:hover{
      background: #99ABC1;
      padding: 3px 6px;
      border-radius: 15px;
  }
  
  .filter-wrap{
    position:relative ;
   
  }
  
  .filter-clear{
      position: absolute;
      margin-left: -24px;
      margin-top: 11px;
      cursor:pointer;
  }
  