<div class="hero-image1">
    <div class="hero-image2">
   
</div>

</div>

<div class="hero-image">
    <br><br><br><br><br><br><br><br>
    <button (click)="addblog()" class="btn btn-info" style="margin-left:850px; width: 100px; height: 50px;">
        <span class="glyphicon glyphicon-plus"></span> 
        <b>&nbsp;Add blog</b>  
    </button>
<br><br><br><br><br><br>
    
   
    <section class="card-container" style="margin-left: 160px;">
        <div *ngFor='let blog of blogs'>
        <div class="card">
            <div class="card-top">
                <img src="http://localhost:8080/RESTAPI/images/{{blog.blogImage}}" style="width: 500px; height: 500px;">
            </div>
            <div class="card-content">
                <h4 class="tag tag-travel"># {{blog.category}}</h4>
                <h3 class="title">{{ blog.title }}</h3>
                <p>{{blog.content | getintro}}</p>
            </div>
            <button (click)="readmore(blog)" class="btn btn-info" style="margin-left: 350px;">Read more</button>
        </div>
    </div>
    </section>
<br><br>
</div>

<!--
<div *ngFor='let blog of blogs'>
<div class="container" style="margin-right: 10px;">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card"  style="height:250px; width:500px;">

                <div class="card-img-overlay">
                    <p><b> # {{blog.category}}</b></p>
                </div>

                <div class="card-body">
                    <h3 class="card-title">{{ blog.title }}</h3>
                      <p class="card-text">
                        {{blog.content | getintro}}
                      </p>
                      <button (click)="readmore(blog)" class="btn btn-info">Read more</button>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
-->