@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}
html {
  margin: 0;
  padding: 0;
}

.section {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#contacts img {
  height: 60px;
  width: 60px;
  margin-left: 7px;
  margin-right: 7px;
}
#contacts a {
  text-decoration: none;
}
#contacts img:hover {
  opacity: 0.8;
}
#contacts {
  text-align: center;
}

