<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<br><br><br><br><br>
<div class="hero">
    <span class="scroll-mobile cursor black fadeInUp"></span>
    <div class="cta-search">
        <div class="blob">
            <svg viewBox="0 0 200 200" xmlns="/assets/img/blogbackground.jpeg">
                <path fill="#FFF"
                    d="M58.4,-49.5C70,-32.1,69.6,-8.2,64.9,15.7C60.2,39.6,51.1,63.5,34.6,71.1C18.2,78.7,-5.7,70.1,-28.3,59.1C-50.9,48.1,-72.2,34.7,-73.8,19.3C-75.4,3.8,-57.3,-13.7,-41.7,-32C-26.1,-50.3,-13.1,-69.4,5.2,-73.5C23.5,-77.7,46.9,-66.9,58.4,-49.5Z"
                    transform="translate(100 100)" />
            </svg>
        </div>

        <!--<h2>Book a ticket / Expand a service</h2>-->
        <div id="wrap">

            <!--<input id="search" name="search" type="text" placeholder="What're we looking for ?"><input id="search_submit" value="Rechercher" type="submit">-->

        </div>
    </div>
    <div class="fake-waves">
        <span class="a"></span>
        <span class="b"></span>
        <span class="c"></span>
    </div>
    <div class="arc">
        <svg xmlns="/assets/img/blogbackground.jpeg" width="100%" height="50" viewBox="0.1 0.3 200 19"
            preserveAspectRatio="none">
            <g transform="translate(-0.21755166,-100.15454)">
                <path d="M 0.2688579,100.29477 H 200.98548 c 0,0 -99.37375,39.84098 -200.7166221,0 z"></path>
            </g>
        </svg>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title fadeInUp">
                    <h3>Book your show</h3>

                </div>
                <div class="services-container">
                    <div class="slider">

                        <div class="col-md-3">
                            <input type="hidden" value="seminar" #ref>

                            <a (click)="rd(ref.value)" class="itm conference">
                                <div class="caption">
                                    <h4>Conference</h4>
                                </div>
                            </a>


                        </div>
                        <div class="col-md-3">
                            <input type="hidden" value="workshop" #ref1>
                            <a (click)="rd(ref1.value)" class="itm workshop">
                                <div class="caption">
                                    <h4>Workshop</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <input type="hidden" value="talk" #ref2>
                            <a (click)="rd(ref2.value)" class="itm talk">
                                <div class="caption">
                                    <h4>Talk</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <input type="hidden" value="hackathon" #ref3>
                            <a (click)="rd(ref3.value)" class="itm hackathon">
                                <div class="caption">
                                    <h4>Hackathon</h4>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="slider">

                        <div class="col-md-3">
                            <input type="hidden" value="show" #ref4>
                            <a (click)="rd(ref4.value)" class="itm show">
                                <div class="caption">
                                    <h4>Show</h4>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3">
                            <input type="hidden" value="fest" #ref5>
                            <a (click)="rd(ref5.value)" class="itm fest">
                                <div class="caption">
                                    <h4>Fest</h4>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3">
                            <input type="hidden" value="exhibition" #ref6>
                            <a (click)="rd(ref6.value)" class="itm exhibition">
                                <div class="caption">
                                    <h4>Exhibition</h4>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>

<!--Create an event-->
<div class="container2" style="text-align: center;"><br><br><br>
    <h1 style="color: white; font-size: 40px;">Create an event in 5 steps</h1><br><br>
    <!--<button (click)="redirect()">Create an event</button><br><br>-->
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">
        Create an Event
    </button>
    <br><br>
    <!-- The Modal -->
    <div class="modal fade" id="myModal" data-backdrop="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <p style="font-family: Comic Sans;font-size:35px">Select Kind of Event</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="height: 330px;width:1400px;">

                    <div class="container11">

                        <button class="btn12" data-dismiss="modal" (click)="culturalEvent()"
                            style="vertical-align:middle"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn11" data-dismiss="modal" (click)="technicalEvent()"
                            style="vertical-align:middle"></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn13" data-dismiss="modal" (click)="personalEvent()"
                            style="vertical-align:middle"></button>
                        <br><br>


                        <h1 class="w3-tangerine">Cultural
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Technical
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Personal</h1>


                    </div>

                </div>

            </div>
        </div>
    </div>

    <br><br>
</div>
<section id="timeline">

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(/assets/img/login.jpg)"></div>

        <div class="tl-year">
            <p>Step - 1</p>
        </div>

        <div class="tl-content">
            <h1>Login as user at RELEVENT</h1>

        </div>

    </div>

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(/assets/img/form.jpg)"></div>

        <div class="tl-year">
            <p>Step - 2</p>
        </div>

        <div class="tl-content">
            <h1 class="f3 text--accent ttu">Click on create event <br>and fill your details</h1>

        </div>

    </div>

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(/assets/img/choose.jpg)"></div>

        <div class="tl-year">
            <p>Step - 3</p>
        </div>

        <div class="tl-content">
            <h1 class="f3 text--accent ttu">Choose Venue, Professionals <br>required for an event</h1>

        </div>

    </div>

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(/assets/img/upload.jpg)"></div>

        <div class="tl-year">
            <p>Step - 4</p>
        </div>

        <div class="tl-content">
            <h1 class="f3 text--accent ttu">Upload Poster of your event</h1>

        </div>

    </div>

    <div class="tl-item">

        <div class="tl-bg" style="background-image: url(/assets/img/done.png)"></div>

        <div class="tl-year">
            <p>Step - 5</p>
        </div>

        <div class="tl-content">
            <h1>All done ! Now you are organiser, publicize the event and sell tickets</h1>

        </div>

    </div>
</section>

<br><br>

<!--Expand you service-->
<div class="container" style="text-align: center;">
    <h1>Register as Professional</h1><br>
</div>

<div class="stairs">
    <div class="row_1">
        <div class="number_1">
            <h2>05</h2>
        </div>
        <div class="desc_winning">
            <dl>
                <dt>Lead in your sphere, be an <br> eminent service provider</dt>
            </dl>
        </div>
    </div>
    <div class="row_2">
        <div class="number_2">
            <h2>04</h2>
        </div>
        <div class="desc_working">
            <dl>
                <dt>Grab a chance to contribute<br> to Top events</dt>

            </dl>
        </div>
    </div>
    <div class="row_3">
        <div class="number_3">
            <h2>03</h2>
        </div>
        <div class="desc_searching">
            <dl>
                <dt>Link up with other services <br>and increase your network</dt>

            </dl>
        </div>
    </div>
    <div class="row_4">
        <div class="number_4">
            <h2>02</h2>
        </div>
        <div class="desc_planning">
            <dl>
                <dt>Expand your service, increase your opportunities</dt>

            </dl>
        </div>
    </div>
    <div class="row_5">
        <div class="number_5">
            <h2>01</h2>
        </div>
        <div class="desc_timing">
            <dl>
                <dt>Register your service and <br> be a part of Rel-event</dt>
            </dl>
        </div>
    </div>
</div>

<br><br><br>

<!---Why Rel-event-->

<div class="container1"> <br><br>
    <h1 style="margin-left:90px;color: white; font-size: 40px;">Why RELEVENT ?</h1><br><br>
    <div class="row">
        <br><br>
        <div class="flip" style="margin-left: 230px;">
            <div class="front" style="background-image: url(/assets/img/book.jpg);">
                <br><br><br><br>
                <h1 class="text-shadow">Book tickets in a snap</h1>
            </div>
            <div class="back">
                <h4>Rel-event allows you to book a ticket of any event instantly. All you need to do is... <br>login as
                    user -> choose the event -> Buy tickets</h4>
            </div>
        </div>

        <div class="flip" style="margin-left: 100px;">
            <div class="front" style="background-image: url(/assets/img/event.jpeg)">
                <br><br><br><br>
                <h1 class="text-shadow">Create any type of event</h1>
            </div>
            <div class="back">
                <h4>Rel-event platform is suitable for Trade Shows, Conferences, Sporting Events, Film Festivals,
                    Association Meetings, and more. You can develop more engaging and more personalised user experience
                    for any type of events.</h4>
            </div>
        </div>

        <div class="flip" style="margin-left: 100px;">
            <div class="front" style="background-image: url(/assets/img/expand.jpg)">
                <br><br><br><br>
                <h1 class="text-shadow">Expand your service</h1>
            </div>
            <div class="back">
                <h4>If you are a Professional Rel-event is best platform for you to increase your opportunities</h4>
            </div>
        </div>
    </div> <br><br>
</div>

<br>   <br>   <br>
<div class="container" style="background-color: white; ">
    <div class="col-sm-6">
    <div class="row">
        <h1 style="font-size:40px;">What our clients say ?</h1>
        
        <div class="col-md-8 offset-md-2 col-10 offset-1 mt-5" style="margin-left: 30px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner mt-4">

        

                    <div *ngFor='let exp of exps'>

                       
                            <div class="carousel-item text-center active">
                                <img src="http://localhost:8080/RESTAPI/images/{{exp.professional.serviceImage}}"
                                    style="height:150px; width:150px; border-radius: 50%;" alt="First slide">
                                <h3 class="mt-4 mb-0"><strong
                                        class="text-warning text-uppercase">{{exp.professional.professionalName}}</strong>
                                </h3>
                                <h3 class="text-dark m-0">{{exp.professional.serviceType}}</h3>
                                <br>
                                <p style="color:black; font-size:17px;">{{exp.experience}}</p>
                                <br><br>
                            </div>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>

                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev" style="color: black;">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h1 style="font-size:40px;">Contact us</h1>
        <br><br>
        <div class="container">
            <br>
            <div class="row">
                    <h4 style="font-size:30px; text-align:center">We'd love to hear from you!</h4>
            </div>
            <div class="row input-container" style="margin-left: -20px;">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input required />
                            <label>Name</label> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input required />
                            <label>Email</label> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input required />
                            <label>Phone Number</label> 
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea required></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="btn-lrg submit-btn">Send Message</div>
                    </div>
            </div>
        </div>
        
    </div>
    </div>