<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<section>
    <article>
        <img src="assets/img/event.jpeg" alt="image">
    </article>
    <nav>
        <h1 style="color:whitesmoke">Rel-event</h1>
        <p style="color:whitesmoke">Rel-event allows users to create event or book tickets
            of an event in a snap.
        </p>
        <button class="btn success">create an event</button>
    </nav>
</section>

<br>

<h1>Book your show</h1>

<br>

<div class="container-fluid">
    <h1>Why Rel-event</h1><br>
    <div class="row">
      <div class="col-xs-2" style="background-color:lavender;">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-xs-2" style="background-color:blanchedalmond">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-xs-2" style="background-color:pink">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-xs-2" style="background-color:gainsboro">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-xs-2" style="background-color:bisque">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>
    <div class="row">
      <div class="col-xs-2" style="background-color:lightblue">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-xs-2" style="background-color:lightgray">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-xs-2" style="background-color:lightsalmon">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-xs-2" style="background-color:lightyellow">.col-sm-4</div>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>
  </div>

  <br>