<br><br>

<!--Testing

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">I am Jane Doe</h1>
    <h3>And I'm a Photographer</h3>
    <button>Hire me</button>
  </div>
</div>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

<ul class="timeline">

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Freelancer</span>
				<span class="time-wrapper"><span class="time">2013 - present</span></span>
			</div>
			<div class="desc">My current employment. Way better than the position before!</div>
		</div>
	</li>
  
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Apple Inc.</span>
				<span class="time-wrapper"><span class="time">2011 - 2013</span></span>
			</div>
			<div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
		</div>
	</li>

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Harvard University</span>
				<span class="time-wrapper"><span class="time">2008 - 2011</span></span>
			</div>
			<div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
		</div>
  </li>
  
  <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Harvard University</span>
				<span class="time-wrapper"><span class="time">2008 - 2011</span></span>
			</div>
			<div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
		</div>
	</li>
  
</ul>

      <section id="team">
        <div class="container">
          <h1>Guests</h1>
          <div class="row">
            <div class="col-md-3 profile-pic text-center">
              <div class="image-box">
                <img src="#" class="img-responsive">
                <ul>
                  <a href="#"><span><i class="fa fa-facebook"></i></span></a>
                  <a href="#"><span><i class="fa fa-twitter"></i></span></a>
                  <a href="#"><span><i class="fa fa-linkedin"></i></span></a>
                </ul>
                <div>
                  <h2>Akarsh</h2>
                  <h3>Founder/ CEO</h3>
                  <p>manages overall working</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 profile-pic text-center">
              <div class="image-box">
                <img src="src/assets/img/bg.jpg" class="img-responsive">
                <ul>
                  <a href="#"><span><i class="fa fa-facebook"></i></span></a>
                  <a href="#"><span> <i class="fa fa-twitter"></i></span></a>
                  <a href="#"><span> <i class="fa fa-linkedin"></i></span></a>
                </ul>
                <div>
                  <h2>Ranveer Singh</h2>
                  <h3>Business Header</h3>
                  <p>checks Business deals</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 profile-pic text-center">
              <div class="image-box">
                <img src="src/assets/img/bg.jpg" class="img-responsive">
                <ul>
                  <a href="#"><span><i class="fa fa-facebook"></i></span></a>
                  <a href="#"><span><i class="fa fa-twitter"></i></span></a>
                  <a href="#"><span><i class="fa fa-linkedin"></i></span></a>
                </ul>
                <div>
                  <h2>Manjeera Tripati</h2>
                  <h3>Marketing Head</h3>
                  <p>controls marketing</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 profile-pic text-center">
              <div class="image-box">
                <img src="src/assets/img/bg.jpg" class="img-responsive">
                <ul>
                  <a href="#"><span> <i class="fa fa-facebook"></i></span></a>
                  <a href="#"><span> <i class="fa fa-twitter"></i></span></a>
                  <a href="#"><span> <i class="fa fa-linkedin"></i></span></a>
                </ul>
                <div>
                  <h2>Arjun Kapur</h2>
                  <h3>UI Designer</h3>
                  <p>designs the ideas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    -->
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<br><br>
<div class="container">
    <br><br>
    <div class="underlay-photo"></div>
  <div class="one">
  
  <div class="w3-container w3-tangerine">
     <p style="padding-top:10%;">
        {{event.eventName}}
     </p>
    </div>
    <br>

    <p style="color: white;text-align:left;padding-left:10%;padding-right: 10%; font-size:200%;">
  
        <i aria-hidden="true"></i>&nbsp;<u><b>Bought to you by:</b></u>
        <br>
        {{event.organiserName}}
      </p>
      <br><br>

    <p style="color: white;text-align:left;padding-left:10%;padding-right: 10%; font-size:200%;">
  
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;<u><b>About The Event :</b></u>
      <br>
      {{event.about}}
    </p>
    <br><br>

    <p  style="color: white;text-align:left;padding-left:10%;padding-right: 10%; font-size:200%;">
      <i class="fa fa-users" aria-hidden="true"></i>&nbsp;<u><b>Event category</b></u> : {{event.category}}  
    </p>
    <br><br>

    <p  style="color: white;text-align:left;padding-left:10%;padding-right: 10%; font-size:200%;">

      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;<u><b>Date</b></u> : {{event.eventDate}}
    </p>
    <br><br>

    <p  style="color: white;text-align:left;padding-left:10%;padding-right: 10%; font-size:200%;">
      
      <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<u><b>Venue</b></u> :
      <br>
      {{event.venue}}
    </p>
    <br><br>
    
    <p  style="color: white;text-align:left;padding-left:10%;padding-right: 10%; font-size:200%;">
      <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;<u><b>Price</b></u> : {{event.ticketPrice}}
    </p>
    <br><br>



    <div  style="color: white;text-align:left;padding-left:10%;padding-right: 10%;padding-bottom: 10%; font-size:200%;">
        <button (click)="payment()" name="payment"  class="login-submit">Next</button>
    </div>
  </div>
</div>

<br><br><br>
<!--
<table class="table table-bordered table-sm text-center" style="background-color: white;">
    <thead>
        <tr class="bg-info text-white">
            <th>NAME</th>
            <th>EVENT DATE</th>
            <th>CATEGORY</th>
            <th>ORGANISER NAME</th>
            <th>TICKET PRICE</th>
            <th>VENUE</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <td>{{event.eventName}}</td>
    <td>{{event.eventDate}}</td>
    <td>{{event.category}}</td>
    <td>{{event.organiserName}}</td>
    <td>{{event.ticketPrice}}</td>
    <td>{{event.venue}}</td>
</tr>
</tbody>
</table>

<button (click)="payment()" name="payment">Next</button>
-->