<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="hero-image"><br><br><br><br>
  <h1 style="font-size:50px;color: black;margin-left: 750px;"><b>{{event.eventName}}</b></h1>
  <br><br><br>
  <div class="hero-text">

    <h1><b>Venue</b></h1>
    <h2>{{event.venue}}</h2>
    <!--<h2><b>Date and Time</b></h2>
    <h3>{{event.eventDate | date}}<br>{{event.eventDate | date : 'mediumTime'}} </h3>-->
    <br>
    <h2><b>Ticket Price</b></h2>
    <h3>{{event.ticketPrice | currency:'INR'}}</h3>
    <br><br>
    <br><br><br><br>
    <div class="container" style= "color:white">
      <br><br><br><br>
      <h1>CountDown</h1>
      <ul>
        <li><span id="days"></span>days</li>
        <li><span id="hours"></span>Hours</li>
        <li><span id="minutes"></span>Minutes</li>
        <li><span id="seconds"></span>Seconds</li>
      </ul>
    </div>
    <button type="button" (click)="payment()" name="payment" class="btn btn-primary">Buy Tickets</button> 
  </div>
</div>