  <!-- The Modal -->
  <div class="modal" id="userModel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="width:400px;">
      
        <!-- Modal Header -->
        <div class="modal-header" style="width:400px;">
        
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="width:400px;">
            <h1>Update your profile...</h1>
                <form class="form-group">
                        Enter userName :<input type="text"  name="userName"  [(ngModel)]="editObject.userName"class="form-control"><br />
                        Enter contact :<input type="text" name="contact" [(ngModel)]="editObject.contact" class="form-control"><br />
                        Enter emailId :<input type="email" name="emailId" [(ngModel)]="editObject.emailId" class="form-control"><br />
                        Enter Password : <input type="text" name="password" [(ngModel)]="editObject.password" class="form-control"><br />
                        
                </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" (click)="updateUser()">Update</button>
        </div>
        
      </div>
    </div>
  </div>
  
  <div style="background-color:black; height:850px;">
    <br><br><br><br><br><br><br>
    <div class="profile-card">
      <div  class = "image-container">
        <img src="/assets/img/nature.jpeg" style="width:400px;" >
       
      </div>
      <div class ="main-container">
        <p><i class="fa fa-user" aria-hidden="true"></i>
          {{User.userName}}</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i>
          {{User.emailId}}</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>
          {{User.contact}}</p>
        <p><i class="fa fa-key" aria-hidden="true"></i>
          {{User.password}}</p>
        <hr>
        <button type ="button" (click)="showEditPopup(User)" class = "edit-btn">E D I T</button>
      </div>
    </div>
  
  </div>

<!--
<p>{{User.userName}}</p>
<p>{{User.contact}}</p>
<p>{{User.emailId}}</p>
<p>{{User.password}}</p>
<button (click)="showEditPopup(User)" class = "glyphicon glyphicon-pencil">edit</button>-->